<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <h4>Información Financiera - Nombre de empresa</h4>
        <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" #tooltip="matTooltip" matTooltip="Guardar">
          <mat-icon class="col-white">save</mat-icon>
        </button>
      </div>
      <hr>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Entrevistado(s)</mat-label>
          <input matInput placeholder="" [(ngModel)]="entrevistado">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Cargo(s)</mat-label>
          <input matInput placeholder="" [(ngModel)]="cargos">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="cargosIng === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloCargo,'',cargos,cargosIng,'cargos')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Grado de Colaboración</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="gradoColaboracion">
          <button matSuffix mat-mini-fab color="primary" *ngIf="gradoColaboracion !== ''" style="background-color: rgba(0,0,0,0);" (click)="gradoColaboracion = ''"  #tooltip="matTooltip" matTooltip="Limpiar">
            <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
          </button>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <h4>Historico de Ventas (Muy Importante)</h4>
        <hr>
        <div class="row">
          <div class="col-md-8">
            <h6>Obtenida por terceras fuentes o declaración - <em>No incluir Ventas del Balance</em></h6>
              <div class="shadow m-1" style="overflow-x: auto;">
                <div class="table-container">
                  <table mat-table [dataSource]="dataSourceHistoricoVentas" class="mat-elevation-z8 w-100">
                    <ng-container matColumnDef="{{columnToDisplayHistoricoVentas[0]}}">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> N° </th>
                      <td mat-cell *matCellDef="let historicoVentas" class="text-center">{{historicoVentas[columnToDisplayHistoricoVentas[0]]}}</td>
                    </ng-container>
                    <ng-container matColumnDef="{{columnToDisplayHistoricoVentas[1]}}">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Fecha </th>
                      <td mat-cell *matCellDef="let historicoVentas" class="text-center"> {{historicoVentas[columnToDisplayHistoricoVentas[1]]}} </td>
                    </ng-container>
                    <ng-container matColumnDef="{{columnToDisplayHistoricoVentas[2]}}">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Moneda </th>
                      <td mat-cell *matCellDef="let historicoVentas" class="text-center"> {{historicoVentas[columnToDisplayHistoricoVentas[2]]}} </td>
                    </ng-container>
                    <ng-container matColumnDef="{{columnToDisplayHistoricoVentas[3]}}">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Ventas (MN)</th>
                      <td mat-cell *matCellDef="let historicoVentas" class="text-center"> {{historicoVentas[columnToDisplayHistoricoVentas[3]]}} </td>
                    </ng-container>
                    <ng-container matColumnDef="{{columnToDisplayHistoricoVentas[4]}}">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> T/C </th>
                      <td mat-cell *matCellDef="let historicoVentas" class="text-center"> {{historicoVentas[columnToDisplayHistoricoVentas[4]]}} </td>
                    </ng-container>
                    <ng-container matColumnDef="{{columnToDisplayHistoricoVentas[5]}}">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Equivale US$ Dolar </th>
                      <td mat-cell *matCellDef="let historicoVentas" class="text-center"> {{historicoVentas[columnToDisplayHistoricoVentas[5]]}} </td>
                    </ng-container>
                    <ng-container matColumnDef="{{columnToDisplayHistoricoVentas[6]}}">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        <button mat-mini-fab color="primary" style="margin-top: .7rem;" (click)="agregarHistoricoVentas()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let historicoVentas" class="text-center d-flex">
                        <button mat-icon-button class="tbl-action-btn " #tooltip="matTooltip" matTooltip="Editar"
                          style="margin-top: 1rem;" (click)="editarHistoricoVentas(historicoVentas[columnToDisplayHistoricoVentas[0]])">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button class="tbl-action-btn" #tooltip="matTooltip" matTooltip="Quitar"
                          style="margin-top: 1rem;">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnToDisplayHistoricoVentas"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnToDisplayHistoricoVentas;"></tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <mat-form-field class="w-100 mb-4">
                <mat-label>Comentario de la Entrevista.</mat-label>
                <textarea matInput placeholder="" style="min-height: 5rem;" [(ngModel)]="comentarioEntrevista"></textarea>
                <button class="btn-traduccion" matSuffix mat-icon-button [class]="comentarioEntrevistaIng === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloComentarioEntrevista,'',comentarioEntrevista,comentarioEntrevistaIng, 'comentarioEntrevista')">
                  <span class="fi fi-us" style="font-size: 24px;"></span>
                </button>
                <mat-hint>Datos y Cifras Proporcionadas u Obtenidas en Terceras Fuentes</mat-hint>
              </mat-form-field>
              <mat-form-field class="w-100">
                <mat-label>Auditor(es)</mat-label>
                <input matInput placeholder="" [(ngModel)]="auditores">
              </mat-form-field>
            </div>
        </div>

      </div>
    </div>
  </div>


  <div class="col-md-8">
    <div class="row counter-box shadow mb-2">
      <div class="col-md-7">
        <mat-form-field style="width: 100%;">
          <mat-label>Situación Financiera</mat-label>
          <mat-select [(ngModel)]="situacionFinanciera" (selectionChange)="selectSituacionFinanciera($event.value)">
            <mat-option [value]="''">
            </mat-option>
            <mat-option [value]="'A+: Situación Financiera MUY BUENA.'">
              A+: Situación Financiera MUY BUENA.
            </mat-option>
            <mat-option [value]="'A-: Situación Financiera BUENA.'">
              A-: Situación Financiera BUENA.
            </mat-option>
            <mat-option [value]="'B: Situación Financiera ACEPTABLE.'">
              B: Situación Financiera ACEPTABLE.
            </mat-option>
            <mat-option [value]="'C: Situación Financiera DEFICIENTE.'">
              C: Situación Financiera DEFICIENTE.
            </mat-option>
            <mat-option [value]="'D: Situación Financiera PESADA.'">
              D: Situación Financiera PESADA.
            </mat-option>
            <mat-option [value]="'ND: Situación Financiera NO DETERMINADA.'">
              ND: Situación Financiera NO DETERMINADA.
            </mat-option>
            <mat-option [value]="'E: Situación Financiera MALA.'">
              E: Situación Financiera MALA.
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-5 d-flex justify-content-end">
        <button mat-mini-fab class="bg-blue" style="margin: .7rem;" [class]="principalesActivos === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloActivos,subtituloActivos,principalesActivos,principalesActivosIng,'principalesActivos')" #tooltip="matTooltip" matTooltip="Principales Activos Fijos de la Empresa (Inmuebles, Vehículos, etc.)">
          <mat-icon class="col-white">real_estate_agent</mat-icon>
        </button>
        <button mat-mini-fab class="bg-blue" style="margin: .7rem;" (click)="balanceSituacional(1)" #tooltip="matTooltip" matTooltip="Balance Situacional">
          <mat-icon class="col-white">balance</mat-icon>
        </button>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Comentario de Informe con Balance</mat-label>
          <textarea matInput placeholder="" style="min-height: 6rem;" [(ngModel)]="comentarioConBalance"></textarea>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="checkComentarioConBalance" (click)="elegirComentarioConBalance()" class="mb-3"  style="width:15rem; margin-left: 1rem;">
          Copiar Texto Con Balance
          <div *ngIf="checkComentarioConBalance === true">Sí</div>
          <div *ngIf="checkComentarioConBalance === false">No</div>
        </mat-slide-toggle>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Comentario de Informe sin Balance</mat-label>
          <textarea matInput placeholder="" style="min-height: 6rem;" [(ngModel)]="comentarioSinBalance"></textarea>
        </mat-form-field>
        <mat-slide-toggle [(ngModel)]="checkComentarioSinBalance" (click)="elegirComentarioSinBalance()" class="mb-3"  style="width:15rem; margin-left: 1rem;">
          Copiar Texto Sin Balance
          <div *ngIf="checkComentarioSinBalance === true">Sí</div>
          <div *ngIf="checkComentarioSinBalance === false">No</div>
        </mat-slide-toggle>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Comentario Financiero Elegido</mat-label>
          <textarea matInput placeholder="" style="min-height: 6rem;" [(ngModel)]="comentarioElegido"></textarea>
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="comentarioElegidoIng === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloComentarioFinanciero,'',comentarioElegido,comentarioElegidoIng, 'comentarioElegido')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
          <mat-hint>Según opciones de arriba y Ud. puede adicionar o editarlo manualmente</mat-hint>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="row counter-box shadow mb-2">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Comentario del Analista</mat-label>
          <textarea matInput placeholder="" style="min-height: 5rem;" [(ngModel)]="comentarioAnalista"></textarea>
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="comentarioAnalistaIng === '' ? 'sin-traduccion' : ''"  (click)="agregarComentario(tituloComentarioAnalista,'',comentarioAnalista,comentarioAnalistaIng,'comentarioAnalista')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Riesgo Crediticio</mat-label>
          <input matInput placeholder="" [(ngModel)]="riesgoCrediticio">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
