<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <h4>SBS / C. Riesgo - Nombre de Empresa</h4>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>Sector (Principal)</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Sector (Principal)</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Sector (Principal)</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Sector (Principal)</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
