<div class="container-fluid p-0" >
  <div class="row g-0">
    <div class="col-lg-8" style="background-image: url('{{url}}'); background-position: center; background-size: cover; background-repeat: no-repeat; background-color: white;">

    </div>
    <div class="col-lg-4 " style="background-color: #1572b7 !important;">
      <div class=" p-4 d-flex align-items-center min-vh-100">
        <div class="w-100">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <div>

                <div class="p-2 mt-5" style="border: 1px solid #fad721; border-radius: 5%; ">
                    <div class="form-group auth-form-group mb-3">
                      <mat-icon matSuffix class="auth-page-icon">person</mat-icon>
                      <input type="text" class="form-control auth-control"  (keypress)="focusPassword($event);" [(ngModel)]="username"
                        placeholder="Nombre de Usuario" >

                    </div>

                    <div class="form-group auth-form-group mb-2">
                      <mat-icon matSuffix class="auth-page-icon">vpn_key</mat-icon>
                      <input id="id_password" type="password" class="form-control auth-control" [(ngModel)]="password"
                        placeholder="Contraseña"  (keypress)="enter($event);" />
                    </div>
                    <div *ngIf="msgError !== ''" style="color: rgb(96, 28, 28);">
                      <i class="fa-solid fa-circle-exclamation"></i>&nbsp;<b>{{msgError}}</b></div>

                    <div class="flex-sb-m w-full">
                      <div class="form-check">
                          <mat-checkbox    class="example-margin" ><b style="color: #fad721;">Recordar Usuario</b></mat-checkbox>
                      </div>
                    </div>

                    <div class="container-login100-form-btn">
                      <button mat-raised-button style="background-color: #fad721;" class="login100-form-btn" type="button" (click)="onSubmit()">
                        {{btnIngresar}}
                        <span class="loader" *ngIf="btnIngresar === 'Validando...'"></span>
                      </button>
                    </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
