<section class="content">
  <div id="pagina-detalle-persona" class="d-flex justify-content-center align-items-center loader-container hide-loader">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid" style="width: 100%; margin: 0; padding: 0;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [subtitle]="' - '+subtitle" [codigoInforme]="codigoInforme+''" [usuario]="breadscrum.usuario" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="" style="width:100%;">
      <mat-tab-group [preserveContent]="true" >
        <mat-tab >
          <ng-template mat-tab-label>
            <i id="tab-persona" class="fa-solid fa-user-tie" style="font-size: 20px;"  [ngClass]="person === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Persona"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Persona</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-datos-persona></app-p-datos-persona>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-domicilio" class="fa-solid fa-house" style="font-size: 20px;"  [ngClass]="home === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Domicilio"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Domicilio</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-domicilio></app-p-domicilio>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <i id="tab-trabajo" class="fa-solid fa-briefcase" style="font-size: 20px;" [ngClass]="job === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Centro de Trabajo"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Trabajo</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-trabajo></app-p-trabajo>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <i id="tab-actividades" class="fa-solid fa-code-branch" style="font-size: 20px;" [ngClass]="activities === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Otras Actividades y Recursos"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Actividades</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-otras-actividades></app-p-otras-actividades>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <i id="tab-propiedades" class="fa-solid fa-coins" style="font-size: 20px;" [ngClass]="properties === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Propiedades"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Propiedades</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-propiedades></app-p-propiedades>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-p-sbs" class="fa-solid fa-gauge-high" style="font-size: 20px;" [ngClass]="sbs === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="SBS / C. Riesgo"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>SBS / C. Riesgo</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-sbs-riesgo></app-p-sbs-riesgo>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <i id="tab-historia" class="fa-solid fa-comment-dollar" style="font-size: 20px;" [ngClass]="history === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Opinión de Crédito"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Historia</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-historia></app-p-historia>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label>
            <i id="tab-p-info-general" class="fa-solid fa-circle-info" style="font-size: 20px;" [ngClass]="infoGeneral === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Información General"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Info. General</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-info-general></app-p-info-general>
          </ng-template>
        </mat-tab>
        <mat-tab >
          <ng-template mat-tab-label >
            <i id="tab-p-imagenes" class="fa-regular fa-image" style="font-size: 20px;" [ngClass]="images === true ? 'tab-con-datos' : 'tab-vacio'" #tooltip="matTooltip" matTooltip="Imágenes"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Imágenes</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-p-imagenes></app-p-imagenes>
          </ng-template>
       </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
