<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow ">
      <h4>Datos Comerciales</h4>
      <div class="col-md-3">
        <mat-form-field color="primary" style="width: 100%;">
          <mat-label>Informe Investigado el</mat-label>
          <input matInput [matDatepicker]="fecha_informe">
          <mat-datepicker-toggle matIconSuffix [for]="fecha_informe"></mat-datepicker-toggle>
          <mat-datepicker #fecha_informe color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <mat-form-field style="width: 100%;">
          <mat-label>Idioma</mat-label>
          <mat-select >
            <mat-option [value]="'CASTELLANO'">
              <span class="fi fi-es"></span>
              ESPAÑOL
            </mat-option>
            <mat-option [value]="'INGLES'">
              <span class="fi fi-us"></span>
              INGLÉS
            </mat-option>
            <mat-option [value]="'CASTELLANO-INGLES'">
              <span class="fi fi-us" style="background-image: url(./../../../../../../assets/images/us-es.png);"></span>
              ESPAÑOL - INGLÉS
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <mat-form-field style="width: 100%;">
          <mat-label>Tipo de Institución</mat-label>
          <mat-select >
            <mat-option [value]="'PERSONA JURIDICA'">
              PERSONA JURÍDICA
            </mat-option>
            <mat-option [value]="'PERSONA CON NEGOCIO'">
              PERSONA N. CON NEGOCIO
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <mat-label>Año de Fundación</mat-label>
          <input matInput placeholder="" type="number" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <div class="row justify-content-center">
          <div class="col-md-6 d-flex justify-content-center mb-2">
            <button class="btn bg-red d-flex" type="button">
              <i class="fa-solid fa-right-from-bracket" style="font-size: 20px; margin: .3rem 0 .5rem 0;"></i>
              <div style="font-size: 20px;">&nbsp;Volver</div>
            </button>
          </div>
          <div class="col-md-6 d-flex justify-content-center mb-2">
            <button class="btn bg-cyan d-flex" type="button">
              <i class="fa-solid fa-floppy-disk" style="font-size: 20px; margin: .3rem 0 .5rem 0;"></i>
              <div style="font-size: 20px;">&nbsp;Guardar</div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre Comercial / Sigla</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Personería Jurídica</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <div>
          <h5>Ruc(Registro Tributario)</h5>
        </div>
        <hr>
      </div>
      <div class="col-md-5 d-flex">
        <mat-form-field class="">
          <mat-label>Tipo</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Código</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Situación RUC</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="m-1">
          <button class="btn btn-secondary d-flex justify-content-center" style="color: white; width: 9rem;">
            <i class="fa-solid fa-clock-rotate-left"  style="font-size: 18px; margin-top: .7rem;"></i>
            &nbsp;Histórico de Pedidos
          </button>
        </div>
        <div class="m-1">
          <button class="btn bg-blue d-flex justify-content-center" style="color: white; width: 9rem;">
            <i class="fa-regular fa-comment-dots" style="font-size: 18px; margin-top: .1rem;"></i>
            &nbsp;Comentario de Identificación
          </button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-8">
    <div class="row counter-box shadow">
      <h4>Información de Contacto</h4>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Dirección Completa</mat-label>
          <input matInput placeholder="" value="">
          <mat-hint>Av., N° de Barrio, Urb., Fracc., Colonia, Dist., Prov.</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Dpto. o Estado</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>País</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-5 d-flex">
        <mat-form-field style="width: 50%;">
          <mat-label>Código</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Teléfonos Fijos</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <mat-label>Teléfonos Celulares</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <mat-label>Cód. Postal</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Whatsapp Empresarial</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Email Corporativo</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Página Web</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>

    </div>
  </div>
  <div class="col-md-4 mb-2">
    <div class="row counter-box shadow">
      <h3>Comentarios</h3>
      <div class="col-md-12 d-flex">
        <mat-form-field class="example-full-width">
          <mat-label>Riesgo Crediticio</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-12 d-flex" style="margin-bottom: 0rem;">
        <mat-form-field class="example-full-width">
          <mat-label>Política de Pagos</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <button class="btn bg-blue d-flex justify-content-center" style="color: white; margin: .5rem .5rem 0 .5rem; width: 8rem;">
          <i class="fa-regular fa-comment-dots" style="font-size: 18px; margin-top: .1rem;"></i>
          &nbsp;Prensa
        </button>
      </div>
      <div class="col-md-6 d-flex justify-content-center">
        <button class="btn bg-blue d-flex justify-content-center" style="color: white; margin: .5rem .5rem 0 .5rem; width: 8rem;">
          <i class="fa-regular fa-comment-dots" style="font-size: 18px; margin-top: .1rem;"></i>
          &nbsp;Reputación
        </button>
      </div>
      <div class="col-md-12 d-flex justify-content-center">
        <button class="btn bg-green d-flex justify-content-center" style="color: white; margin: .5rem .5rem 0 .5rem; width: 8rem;">
          <i class="fa-solid fa-circle-info" style="font-size: 18px; margin-top: .1rem;"></i>
          &nbsp;Reputación
        </button>
      </div>
    </div>
  </div>
</div>
