<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <mat-tab-group [headerPosition]="'above'"  class="w-100">
      <mat-tab >
        <ng-template mat-tab-label>
          <div style="font-size: 20px;">
            Referencias Comerciales
          </div>
        </ng-template>
        <ng-template matTabContent>
          <div class="card card-body">
            <div class="row">
              <div class="col-md-12 ">
                <div class="d-flex justify-content-between">
                  <h5>Proveedores Nacionales y/o Extranjeros</h5>
                  <div>
                    <button mat-mini-fab class="bg-cyan" #tooltip="matTooltip" matTooltip="Guardar" (click)="guardar()">
                      <mat-icon class="col-white">save</mat-icon>
                    </button>
                  </div>
                </div>
                <hr>
                <div class="shadow m-1" style="overflow-x: auto; max-height: 20rem;">
                  <div class="table-container">
                    <table mat-table [dataSource]="dataSourceProveedor" class="mat-elevation-z8 w-100">
                      <ng-container matColumnDef="proveedor">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Proveedor </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="telefono">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Teléfono </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.telephone}} </td>
                      </ng-container>
                      <ng-container matColumnDef="pais">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Pais</th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center">
                           {{proveedor.country}}
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="credMaximo">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Cred. Máximo </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.maximumAmount}} </td>
                      </ng-container>
                      <ng-container matColumnDef="plazos">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Plazos </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.timeLimit}} </td>
                      </ng-container>
                      <ng-container matColumnDef="cumplimiento">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Cumplimiento </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center">
                          <div *ngIf="proveedor.compliance === ''"></div>
                          <div *ngIf="proveedor.compliance === 'LEEV'">Lento Eventual</div>
                          <div *ngIf="proveedor.compliance === 'LESI'">Lento Siempre</div>
                          <div *ngIf="proveedor.compliance === 'MORO'">Moroso</div>
                          <div *ngIf="proveedor.compliance === 'PUNT'">Puntual</div>
                          <div *ngIf="proveedor.compliance === 'SIEX'">Sin Experiencia</div>
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="clientesDesde">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Desde </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.date}} </td>
                      </ng-container>
                      <ng-container matColumnDef="articulos">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Articulos </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.productsTheySell}} </td>
                      </ng-container>
                      <ng-container matColumnDef="atendio">
                        <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Atendio </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center"> {{proveedor.attendedBy}} </td>
                      </ng-container>
                      <ng-container matColumnDef="accion">
                        <th mat-header-cell *matHeaderCellDef class="text-center">
                          <button mat-mini-fab color="primary" style="margin-top: .7rem;" (click)="agregarProveedor()">
                            <mat-icon class="col-white">add</mat-icon>
                          </button>
                        </th>
                        <td mat-cell *matCellDef="let proveedor" class="text-center d-flex">
                          <button mat-icon-button class="tbl-action-btn " #tooltip="matTooltip" matTooltip="Editar"
                            style="margin-top: 1rem;"  (click)="editarProveedor(proveedor.id)">
                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                          </button>
                          <button mat-icon-button class="tbl-action-btn" #tooltip="matTooltip" matTooltip="Quitar"
                            style="margin-top: 1rem;" (click)="eliminarProveedor(proveedor.id)">
                            <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                          </button>
                        </td>
                      </ng-container>
                      <tr mat-header-row *matHeaderRowDef="columnsToDisplayProveedor"></tr>
                      <tr mat-row *matRowDef="let row; columns: columnsToDisplayProveedor;"></tr>
                    </table>
                  </div>
                </div>
              </div>

              <div class="col-md-12 mt-2">
                <mat-form-field style="width: 100%; margin-top: 1rem;">
                  <mat-label>Agregar Comentario (Opcional)</mat-label>
                  <mat-select [(ngModel)]="idOpcionalCommentarySbs">
                    <mat-option *ngFor="let item of listaOpcionalCommentary" [value]="item.id">
                      {{item.valor}}
                    </mat-option>

                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <mat-form-field style="width: 100%;">
                  <mat-label>Referencista o Analista que lo realizó</mat-label>
                  <input matInput type="text" [(ngModel)]="referentOrAnalyst">
                </mat-form-field>
              </div>
              <div class="col-md-3 ">
                <mat-form-field color="primary" class="w-100">
                  <mat-label>Fecha</mat-label>
                  <input matInput [matDatepicker]="fecha" [ngModel]="dateD" (dateChange)="selectFecha1($event)">
                  <mat-datepicker-toggle matIconSuffix [for]="fecha"></mat-datepicker-toggle>
                  <mat-datepicker #fecha color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
            </div>

          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <div style="font-size: 20px;">
            Central de Riesgo / SBS / Banqueros
          </div>
        </ng-template>
        <ng-template matTabContent>
          <div class="card card-body">
            <div class="col-md-12">
              <div class="d-flex justify-content-between w-100">
                <h5>Morosidad Comercial</h5>
                <div class="">
                  <button mat-mini-fab class="bg-cyan" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
                    <mat-icon class="col-white">save</mat-icon>
                  </button>
                </div>
              </div>
              <hr>
              <h6>Información Reportada desde la Central de Riesgos respecto a Morosidad Comercial</h6>
              <div class="shadow m-1" style="overflow-x: auto; max-height: 20rem;">
                <div class="table-container">
                  <table mat-table [dataSource]="dataSourceMorosidadComercial" class="mat-elevation-z8 w-100">
                    <ng-container matColumnDef="acreProv">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Acreedor o Proveedor </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center"> {{morosidadComercial.creditorOrSupplier}} </td>
                    </ng-container>
                    <ng-container matColumnDef="tipoDocumento">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Tipo Doc. </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center"> {{morosidadComercial.documentType}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Fecha</th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center"> {{morosidadComercial.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="montoMN">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Monto MN </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center"> {{morosidadComercial.amountNc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="montoME">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Monto ME </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center"> {{morosidadComercial.amountFc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fechaPago">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Fecha Pago </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center"> {{morosidadComercial.pendingPaymentDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="diasAtraso">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Días de Atraso </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center"> {{morosidadComercial.daysLate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="accion">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        <button mat-mini-fab color="primary" style="margin-top: .7rem;" (click)="agregarMorosidadComercial()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center d-flex">
                        <button mat-icon-button class="tbl-action-btn " #tooltip="matTooltip" matTooltip="Editar"
                          style="margin-top: 1rem;"  (click)="editarMorosidadComercial(morosidadComercial.id)">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button class="tbl-action-btn" #tooltip="matTooltip" matTooltip="Eliminar"
                          style="margin-top: 1rem;" (click)="eliminarProveedor(morosidadComercial.id)">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayMorosidadComercial"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplayMorosidadComercial;"></tr>
                  </table>
                </div>
              </div>
              <div class="col-md-12 mt-2">
                <mat-form-field class="w-100" >
                  <mat-label>Comentario Adicional de la Central de Riesgo (Otras Morosidades)</mat-label>
                  <textarea matInput style="min-height: 8rem;" [(ngModel)]="aditionalCommentaryRiskCenter"></textarea>
                  <button class="btn-traduccion" [class]="aditionalCommentaryRiskCenterEng === '' ? 'sin-traduccion' : ''" matSuffix mat-icon-button (click)="agregarTraduccion('Comentario Adicional de la Central de Riesgo','', aditionalCommentaryRiskCenter, aditionalCommentaryRiskCenterEng, 'comentarioAdicional')">
                    <span class="fi fi-us" style="font-size: 24px;"></span>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="card card-body">
            <div class="col-md-12 mb-2">
              <div class="row mb-0 pb-0">
                <div class="col-md-5 d-flex align-items-center">
                  <h5>Reporte de la SBS (Endeudamiento Bancario)</h5>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4">
                  <mat-form-field color="primary" style="width: 100%;" >
                    <mat-label >Endeudamiento Registrado a la Fecha</mat-label>
                    <input matInput [matDatepicker]="fecha_informe" #fechaInput [(ngModel)]="debtRecordedDateD" (dateChange)="selectFecha2($event)">
                    <mat-datepicker-toggle matIconSuffix [for]="fecha_informe"></mat-datepicker-toggle>
                    <mat-datepicker #fecha_informe color="primary"></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-2">
                  <mat-form-field class="w-100">
                    <mat-label>Tasa de Cambio</mat-label>
                    <input matInput placeholder="" type="number" [(ngModel)]="exchangeRate" (ngModelChange)="tasaCambio()">
                  </mat-form-field>
                </div>
              </div>
              <div class="shadow m-1" style="overflow-x: auto;">
                <div class="table-container">
                  <table mat-table [dataSource]="dataSourceDeudaBancaria" class="mat-elevation-z8 w-100">
                    <ng-container matColumnDef="banco">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Banco </th>
                      <td mat-cell *matCellDef="let deudaBancaria" class="text-center"> {{deudaBancaria.bankName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="calificacion">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Calificación </th>
                      <td mat-cell *matCellDef="let deudaBancaria" class="text-center">
                        <div *ngIf="deudaBancaria.qualification === ''"></div>
                        <div *ngIf="deudaBancaria.qualification === 'NORM'">NORMAL</div>
                        <div *ngIf="deudaBancaria.qualification === 'PRPO'">PROBLEMA POTENCIAL</div>
                        <div *ngIf="deudaBancaria.qualification === 'DEFI'">DEFICIENTE</div>
                        <div *ngIf="deudaBancaria.qualification === 'DUDO'">DUDOSO</div>
                        <div *ngIf="deudaBancaria.qualification === 'PERD'">PERDIDA</div>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Fecha </th>
                      <td mat-cell *matCellDef="let deudaBancaria" class="text-center"> {{deudaBancaria.debtDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="deudaMN">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Deuda MN </th>
                      <td mat-cell *matCellDef="let deudaBancaria" class="text-center"> {{deudaBancaria.debtNc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="deudaME">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Deuda ME</th>
                      <td mat-cell *matCellDef="let deudaBancaria" class="text-center"> {{deudaBancaria.debtFc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="memo">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Memo </th>
                      <td mat-cell *matCellDef="let deudaBancaria" class="text-center"> {{deudaBancaria.memo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        <button mat-mini-fab color="primary" style="margin-top: .7rem;" (click)="agregarDeudaBancaria()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let morosidadComercial" class="text-center">
                        <button mat-icon-button class="tbl-action-btn " #tooltip="matTooltip" matTooltip="Editar"
                          style="margin-top: 1rem;"  (click)="editarDeudaBancaria(morosidadComercial.id)">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button class="tbl-action-btn" #tooltip="matTooltip" matTooltip="Quitar"
                          style="margin-top: 1rem;" (click)="eliminarProveedor(morosidadComercial.id)">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayDeudaBancaria"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplayDeudaBancaria;"></tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                      <mat-label>Totales Moneda Nacional</mat-label>
                      <input matInput [(ngModel)]="totalesMN">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                      <mat-label>Totales Moneda Extranjera</mat-label>
                      <input matInput [(ngModel)]="totalesME">
                    </mat-form-field>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="col-md-6">
                    <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                      <mat-label>Totales MN Equivalente a USD$</mat-label>
                      <input matInput  [(ngModel)]="totalesMD" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="d-flex">
                  <div class="col-md-6">
                    <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                      <mat-label>Garantías Ofrecidas MN</mat-label>
                      <input matInput [(ngModel)]="guaranteesOfferedNc" type="number">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                      <mat-label>Garantías Ofrecidas ME</mat-label>
                      <input matInput [(ngModel)]="guaranteesOfferedFc" type="number">
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100" >
                  <mat-label>Comentarios Bancarios</mat-label>
                  <textarea matInput style="min-height: 10rem;" [(ngModel)]="bankingCommentary"></textarea>
                  <button class="btn-traduccion" [class]="bankingCommentaryEng === '' ? 'sin-traduccion' : ''" matSuffix mat-icon-button (click)="agregarTraduccion('Comentarios Bancarios de la Central de Riesgo','', bankingCommentary, bankingCommentaryEng, 'comentarioBancario')">
                    <span class="fi fi-us" style="font-size: 24px;"></span>
                  </button>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="card card-body">
            <div class="col-md-12 mb-2">
              <div class="row mb-0 pb-0">
                <div class="col-md-5 d-flex align-items-center">
                  <h5>Avales Recibidos</h5>
                </div>
              </div>
              <div class="shadow m-1 mb-3" style="overflow-x: auto;">
                <div class="table-container">
                  <table mat-table [dataSource]="dataSourceAvales" class="mat-elevation-z8 w-100">
                    <ng-container matColumnDef="avalista">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Avalista </th>
                      <td mat-cell *matCellDef="let aval" class="text-center"> {{aval.endorsementName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="ruc">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> RUC </th>
                      <td mat-cell *matCellDef="let aval" class="text-center">{{aval.ruc}}</td>
                    </ng-container>
                    <ng-container matColumnDef="montoME">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Monto ME </th>
                      <td mat-cell *matCellDef="let aval" class="text-center"> {{aval.amountUs}} </td>
                    </ng-container>
                    <ng-container matColumnDef="montoMN">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Monto MN </th>
                      <td mat-cell *matCellDef="let aval" class="text-center"> {{aval.amountNc}} </td>
                    </ng-container>
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Fecha </th>
                      <td mat-cell *matCellDef="let aval" class="text-center"> {{aval.date}} </td>
                    </ng-container>
                    <ng-container matColumnDef="entidad">
                      <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Entidad Receptora </th>
                      <td mat-cell *matCellDef="let aval" class="text-center"> {{aval.receivingEntity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="accion">
                      <th mat-header-cell *matHeaderCellDef class="text-center">
                        <button mat-mini-fab color="primary" style="margin-top: .7rem;" (click)="agregarAval()">
                          <mat-icon class="col-white">add</mat-icon>
                        </button>
                      </th>
                      <td mat-cell *matCellDef="let aval" class="text-center">
                        <button mat-icon-button class="tbl-action-btn " #tooltip="matTooltip" matTooltip="Editar"
                          style="margin-top: 1rem;"  (click)="editarAval(aval.id)">
                          <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                        </button>
                        <button mat-icon-button class="tbl-action-btn" #tooltip="matTooltip" matTooltip="Quitar"
                          style="margin-top: 1rem;" (click)="eliminarAval(aval.id)">
                          <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                        </button>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="columnsToDisplayAval"></tr>
                    <tr mat-row *matRowDef="let row; columns: columnsToDisplayAval;"></tr>
                  </table>
                </div>
              </div>
              <div class="row">
                <h5>Observaciones</h5>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>
                      (Español)
                    </mat-label>
                    <textarea matInput placeholder="" style="min-height: 10rem;" [(ngModel)]="endorsementsObservations"></textarea>
                    <span matSuffix  class="fi fi-es" style="font-size: 24px;" ></span>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>
                      (Inglés)
                    </mat-label>
                    <textarea matInput placeholder="" style="min-height: 10rem;" [(ngModel)]="endorsementsObservationsEng"></textarea>
                    <span matSuffix class="fi fi-us" style="font-size: 24px;">
                    </span>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label >
          <div style="font-size: 20px;">
            Litigios y Antecedentes Crediticios
          </div>
        </ng-template>
        <ng-template matTabContent>
          <div class="card card-body">
            <div class="col-md-12">
              <div class="d-flex justify-content-between w-100">
                <h5>Litigios (Notificaciones, Demandas, Juicios, Fiscalía, Deudas Coactivas, Omisiones Tributarias, etc.)</h5>
                <div class="">
                  <button mat-mini-fab class="bg-cyan m-0" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
                    <mat-icon class="col-white">save</mat-icon>
                  </button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>
                      (Español)
                    </mat-label>
                    <textarea matInput placeholder="" style="min-height: 10rem;" [(ngModel)]="litigationsCommentary"></textarea>
                    <span matSuffix  class="fi fi-es" style="font-size: 24px;"></span>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>
                      (Inglés)
                    </mat-label>
                    <textarea matInput placeholder="" style="min-height: 10rem;" [(ngModel)]="litigationsCommentaryEng"></textarea>
                    <span matSuffix class="fi fi-us" style="font-size: 24px;">
                    </span>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="card card-body">
            <div class="col-md-12">
              <div class="d-flex justify-content-between w-100">
                <h5>Antecedentes Crediticios de Informes Anteriores (Histórico de Pagos)</h5>
                <div class="">
                  <button mat-mini-fab class="bg-cyan m-0" #tooltip="matTooltip" matTooltip="Guardar">
                    <mat-icon class="col-white">save</mat-icon>
                  </button>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>
                      (Español)
                    </mat-label>
                    <textarea matInput placeholder="" style="min-height: 10rem;" [(ngModel)]="creditHistoryCommentary"></textarea>
                    <span matSuffix  class="fi fi-es" style="font-size: 24px;"></span>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="w-100">
                    <mat-label>
                      (Inglés)
                    </mat-label>
                    <textarea matInput placeholder="" style="min-height: 10rem;" [(ngModel)]="creditHistoryCommentaryEng" ></textarea>
                    <span matSuffix class="fi fi-us" style="font-size: 24px;">
                    </span>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
