<div class="container"  >
  <div class="row "  style="max-width: 60rem;">
    <div class="col-md-12" >
      <div class="card">
        <div class="header">
          <div class="materialTableHeader mt-3">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h4>Ramos de Negocios y Actividades Específicas</h4>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button class="btn bg-cyan d-flex" type="button">
                      <i class="fa-solid fa-floppy-disk" style="font-size: 20px; margin: .3rem 0 .5rem 0;"></i>
                      <div style="font-size: 20px;">&nbsp;Guardar</div>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" >
                    <button class="btn bg-red d-flex" type="button" >
                      <i class="fa-solid fa-right-from-bracket" style="font-size: 20px; margin: .3rem 0 .5rem 0;" ></i>
                      <div style="font-size: 20px;">&nbsp;Salir</div>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="body mat-elevation-z8">
          <div class="row">
            <div class="cold-md-12 d-flex w-100">
              <div class="d-flex align-items-center">
                <h6>Ramo de Negocio</h6>
              </div>
              <div style="width: 70%;"></div>
              <div>
                <mat-form-field class="example-full-width" style="min-width: 25rem;">
                  <mat-label>Buscar</mat-label>
                  <input matInput type="text" [(ngModel)]="buscarRamo" >
                </mat-form-field>
              </div>
              <div class="">
                <button class="btn bg-primary d-flex" type="button" style="margin-top: .6rem;  margin-left: .5rem;" (click)="ramo()">
                  <i class="fa-regular fa-circle-question" style="font-size: 16px; color: white; margin: .2rem 0 .2rem 0;"></i>
                  <div style="font-size: 16px;"></div>
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-12">
              <div class="table-container">
                <mat-chip-listbox  aria-label="Ramo selection">
                  <mat-chip-option *ngFor="let ramo of filtrarRamo"  [color]="'primary'" (click)="selectRamo(ramo.id, ramo.nombre)">
                    {{ ramo.id }} - {{ ramo.nombre}}
                  </mat-chip-option>
                </mat-chip-listbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="body mat-elevation-z8 ">
          <div class="header d-flex">
            <h2 style="margin-top: .5rem;">Actividades Específicas</h2>
            <div class="w-100 d-flex justify-content-end">
              <mat-form-field class="example-full-width">
                <mat-label>Buscar</mat-label>
                <input matInput type="text" [(ngModel)]="buscar" >
              </mat-form-field>
              <div class="">
                <button class="btn bg-primary d-flex" type="button" style="margin-top: .6rem; margin-left: .5rem;" (click)="actividad()">
                  <i class="fa-regular fa-circle-question" style="font-size: 16px; color: white; margin: .2rem 0 .2rem 0;"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="body">
            <div class="table-container">
              <mat-chip-listbox  aria-label="Ramo selection">
                <mat-chip-option *ngFor="let act of filtrar" (click)="select(act)">
                  {{ act }}
                </mat-chip-option>
              </mat-chip-listbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class=" body mat-elevation-z8">
          <div class="header">
             <h2>Actividades Específicas Seleccionadas</h2>
          </div>
          <div class="body">
            <mat-chip-listbox  aria-label="Ramo selection">
              <mat-chip-option *ngFor="let act of actividadesSeleccionadas" (click)="deselect(act)">
                {{ act }}
              </mat-chip-option>
            </mat-chip-listbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
