<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <h4>Ramo de Negocio - Nombre de empresa</h4>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Sector (Principal)</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Ramo de Negocios (Principal)</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Actividad Específica</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <div class="row justify-content-center">
          <div class="col-md-6 d-flex justify-content-center mb-2">
            <button class="btn bg-primary d-flex" type="button" (click)="ramoActividadDialog()" style="margin-top: .3rem;">
              <i class="fa-regular fa-circle-question" style="font-size: 20px; color: white; margin: .2rem 0 .2rem 0;"></i>
              <div style="font-size: 20px;"></div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row justify-content-center">
          <div class="col-md-12 d-flex justify-content-center mb-2">
            <button class="btn bg-cyan d-flex" type="button">
              <i class="fa-solid fa-floppy-disk" style="font-size: 20px; margin: .3rem 0 .5rem 0;"></i>
              <div style="font-size: 20px;">&nbsp;Guardar</div>
            </button>
          </div>
        </div>
      </div>
      <!--COMERCIO EXTERIOR-->
      <h5>Comercio Exterior</h5>
      <div class="col-md-2">
        <mat-slide-toggle [(ngModel)]="checkImportacion" class="mb-3" (click)="importan()" style="width:15rem; margin-left: 1rem; margin-top: 1rem;">¿Importan? {{importacion}}</mat-slide-toggle>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Países</mat-label>
          <input  matInput placeholder="" value=""  [disabled]="!checkImportacion">
          <button class="btn-traduccion" matSuffix mat-icon-button [disabled]="!checkImportacion">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-slide-toggle [(ngModel)]="checkExportacion" class="mb-3" (click)="exportan()" style="width:15rem; margin-left: 1rem; margin-top: 1rem;">¿Exportan? {{exportacion}}</mat-slide-toggle>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Países</mat-label>
          <input matInput placeholder="" value="" [disabled]="!checkExportacion">
          <button class="btn-traduccion" matSuffix mat-icon-button [disabled]="!checkExportacion">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <div class="row justify-content-center">
          <div class="col-md-12 mb-2">
            <button class="btn bg-brown d-flex mb-2" type="button" #tooltip="matTooltip" matTooltip="Cuadro de Importación">
              <i class="fa-solid fa-table-cells-large" style="font-size: 20px;"></i>
              <div >&nbsp;Importación</div>
            </button>
            <button class="btn bg-brown d-flex" type="button" #tooltip="matTooltip" matTooltip="Cuadro de Exportación">
              <i class="fa-solid fa-table-cells-large" style="font-size: 20px;"></i>
              <div>&nbsp;Exportación</div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>% Venta Contado/Forma</mat-label>
          <input matInput placeholder="" value="">
          <button class="btn-traduccion" matSuffix mat-icon-button >
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>% Crédito/Términos</mat-label>
          <input matInput placeholder="" value="">
          <button class="btn-traduccion" matSuffix mat-icon-button >
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Territorio de Ventas</mat-label>
          <input matInput placeholder="" value="">
          <button class="btn-traduccion" matSuffix mat-icon-button >
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>% Ventas al Exterior</mat-label>
          <input matInput placeholder="" value="">
          <button class="btn-traduccion" matSuffix mat-icon-button >
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>% Compras Nacionales</mat-label>
          <input matInput placeholder="" value="">
          <button class="btn-traduccion" matSuffix mat-icon-button >
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>% Del Exterior</mat-label>
          <input matInput placeholder="" value="">
          <button class="btn-traduccion" matSuffix mat-icon-button >
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <mat-label>Núm. Trabajadores</mat-label>
          <input matInput placeholder="" type="number" value="">
        </mat-form-field>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!--LOCAL PRINCIPAL-->
  <div class="col-md-9">
    <div class="row counter-box shadow mb-2">
      <h4>Local Principal</h4>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Titularidad</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Area Total</mat-label>
          <input matInput placeholder="" value="">
          <button class="btn-traduccion" matSuffix mat-icon-button >
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <mat-label>Domicilio Anterior</mat-label>
          <input matInput placeholder="" value="">
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>Otros Locales (Plantas, Almacenes, Depósitos, Sucursales)</mat-label>
          <textarea matInput placeholder="" style="min-height: 5rem;"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button >
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!--DETALLES Y COMENTARIOS-->
  <div class="col-md-3">
    <div class="row counter-box shadow mb-2">
      <h4>Detalles y Comentarios</h4>
      <div class="col-md-12 d-flex justify-content-center mb-2">
        <button class="btn bg-green d-flex" style="width: 9rem;" type="button" #tooltip="matTooltip" matTooltip="Detalle de Actividad Principal u Objetivo Social">
          <i class="fa-solid fa-building-wheat" style="font-size: 16px; margin-top: .2rem;"></i>
          <div>&nbsp;Act. Principal</div>
        </button>
      </div>
      <div class="col-md-12 d-flex justify-content-center mb-2">
        <button class="btn bg-blue d-flex" style="width: 9rem;" type="button" #tooltip="matTooltip" matTooltip="Comentario Adicional de Negocio (Representaciones, Marcas, Capacidad de Producción y/o Contratación, etc.)">
          <i class="fa-regular fa-comment-dots" style="font-size: 16px; margin-top: .2rem;"></i>
          <div>&nbsp;Negocio</div>
        </button>
      </div>
      <div class="col-md-12 d-flex justify-content-center mb-2">
        <button class="btn bg-blue d-flex" style="width: 9rem;" type="button" #tooltip="matTooltip" matTooltip="Comentario de Negocios (Cuadro Tabulado)">
          <i class="fa-regular fa-comment-dots" style="font-size: 16px; margin-top: .2rem;"></i>
          <div>&nbsp;Negocio</div>
        </button>
      </div>
    </div>
  </div>
</div>
