<div class="container" style="max-width: 45rem;" >
  <div class="row ">
    <div class="card">
      <div class="materialTableHeader mt-3" >
        <div class="left">
          <ul class="header-buttons-left ms-0">
            <li class="tbl-title">
              <h2>Adjuntar Archivos al Cupón {{cupon}}</h2>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="tbl-export-btn">
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-red shadow" matTooltip="Salir"  (click)="cerrarDialog()">
                  <i class="fa-solid fa-right-from-bracket" style="font-size: 16px; color: white;"></i>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-blue shadow" matTooltip="Descargar Todos">
                  <i class="fa-solid fa-file-zipper" style="font-size: 16px; color: white;"></i>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-icon-button #tooltip="matTooltip" class="btn btn-primary shadow" matTooltip="Agregar Archivo">
                  <i class="fa-solid fa-upload" style="font-size: 16px; color: white;"></i>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <ng-scrollbar style="height: 285px" class="mat-elevation-z8 " visibility="hover">
        <ul class="list-unstyled m-3">
          <li class="d-flex mb-3" *ngFor="let attachment of dataSource.data">
            <span class="msr-3 align-self-center img-icon primary-rgba text-primary" *ngIf="attachment.type === 'WORD'">
              <i class="far fa-file-word" style="font-size: 30px;"></i>
            </span>
            <span class="msr-3 align-self-center img-icon success-rgba text-success" *ngIf="attachment.type === 'EXCEL'">
              <i class="far fa-file-excel" style="font-size: 30px;"></i>
            </span>
            <span class="msr-3 align-self-center img-icon danger-rgba text-danger" *ngIf="attachment.type === 'PDF'">
              <i class="far fa-file-pdf" style="font-size: 30px;"></i>
            </span>
            <span class="msr-3 align-self-center img-icon info-rgba text-info" *ngIf="attachment.type === 'TXT'">
              <i class="far fa-file-archive" style="font-size: 30px;"></i>
            </span>
            <div class="set-flex">
              <h5 class="font-16 mb-1">{{attachment.name}}</h5>
              <p>{{attachment.path}}</p>
            </div>
            <div class="ms-auto">
              <td>
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-teal shadow" matTooltip="Descargar">
                  <i class="fa-solid fa-download" style="font-size: 16px; color: white;"></i>
                </button>
                <button mat-icon-button #tooltip="matTooltip" class="btn bg-red shadow" matTooltip="Quitar">
                  <i class="fa-solid fa-trash" style="font-size: 16px; color: white;"></i>
                </button>
              </td>
            </div>
          </li>
        </ul>
      </ng-scrollbar>
    </div>
  </div>
</div>
