<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <h4>Ramo de Negocio</h4>
        <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
          <mat-icon class="col-white">save</mat-icon>
        </button>
      </div>
      <hr>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Sector (Principal)</mat-label>
          <input matInput placeholder="" [(ngModel)]="sectorPrincipalInforme">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Ramo de Negocios (Principal)</mat-label>
          <input matInput placeholder="" [(ngModel)]="ramoNegociosInforme">
        </mat-form-field>
      </div>
      <div class="col-md-4 d-flex">
        <mat-form-field class="" style="width: 75%;">
          <mat-label>Actividad Específica</mat-label>
          <input matInput placeholder="" [(ngModel)]="actividadEspecificaInforme">
        </mat-form-field>
        <div class="d-flex justify-content-center" style="width: 25%;">
          <button mat-mini-fab class="bg-blue" style="margin-top: .7rem;" (click)="ramoActividadDialog()" #tooltip="matTooltip" matTooltip="Seleccionar Ramo y Actividad">
            <mat-icon class="col-white">question_mark</mat-icon>
          </button>
        </div>
      </div>
      <!--COMERCIO EXTERIOR-->
      <h5>Comercio Exterior</h5>
      <div class="col-md-2">
        <mat-form-field style="width: 100%;">
          <mat-label>¿Importan?</mat-label>
          <mat-select [(ngModel)]="checkImportacion" (selectionChange)="selectImportan($event.value)">
            <mat-option [value]="''">
            </mat-option>
            <mat-option [value]="'SI'">
              SÍ
            </mat-option>
            <mat-option [value]="'NO'">
              NO
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Países</mat-label>
          <input  matInput placeholder="" [(ngModel)]="paisesImportacionInforme" [disabled]="checkImportacion !== 'SI'" >
          <button class="btn-traduccion" matSuffix mat-icon-button [disabled]="checkImportacion !== 'SI'" (click)="agregarTraduccion(tituloImportacion,'', paisesImportacionInforme, paisesImportacionIngInforme,'paisesImportan')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field style="width: 100%;">
          <mat-label>¿Exportan?</mat-label>
          <mat-select [(ngModel)]="checkExportacion" (selectionChange)="selectExportan($event.value)">
            <mat-option [value]="''">
            </mat-option>
            <mat-option [value]="'SI'">
              SÍ
            </mat-option>
            <mat-option [value]="'NO'">
              NO
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Países</mat-label>
          <input matInput placeholder="" [(ngModel)]="paisesExportacionInforme" [disabled]="checkExportacion !== 'SI'">
          <button class="btn-traduccion" matSuffix mat-icon-button [disabled]="checkExportacion !== 'SI'" (click)="agregarTraduccion(tituloExportacion,'', paisesExportacionInforme, paisesExportacionIngInforme,'paisesExportan')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <div class="row justify-content-center">
          <div class="col-md-12 mb-2">
            <button class="btn bg-brown d-flex mb-2" type="button" #tooltip="matTooltip" matTooltip="Cuadro de Importación" (click)="ImportacionDialog()">
              <i class="fa-solid fa-table-cells-large" style="font-size: 20px;"></i>
              <div >&nbsp;Importación</div>
            </button>
            <button class="btn bg-brown d-flex" type="button" #tooltip="matTooltip" matTooltip="Cuadro de Exportación" (click)="ExportacionDialog()">
              <i class="fa-solid fa-table-cells-large" style="font-size: 20px;"></i>
              <div>&nbsp;Exportación</div>
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>% Venta Contado/Forma</mat-label>
          <input matInput placeholder="" [(ngModel)]="ventaContadoInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarTraduccion(tituloVentaContado,'', ventaContadoInforme, ventaContadoIngInforme,'ventaContado')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>% Crédito/Términos</mat-label>
          <input matInput placeholder="" [(ngModel)]="creditoTerminosInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarTraduccion(tituloCreditoTerminos, '', creditoTerminosInforme, creditoTerminosIngInforme,'creditoTermino')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Territorio de Ventas</mat-label>
          <input matInput placeholder="" [(ngModel)]="territorioVentasInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarTraduccion(tituloTerritorioVentas, '', territorioVentasInforme, territorioVentasIngInforme,'territorioVentas')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>% Ventas al Exterior</mat-label>
          <input matInput placeholder="" [(ngModel)]="ventasExteriorInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarTraduccion(tituloVentaExterior, '', ventasExteriorInforme, ventasExteriorIngInforme,'ventaExterior')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>% Compras Nacionales</mat-label>
          <input matInput placeholder="" [(ngModel)]="comprasNacionalesInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarTraduccion(tituloComprasNacionales, '', comprasNacionalesInforme, comprasNacionalesIngInforme,'comprasNacionales')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>% Del Exterior</mat-label>
          <input matInput placeholder="" [(ngModel)]="comprasDelExteriorInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarTraduccion(tituloExterior, '', comprasDelExteriorInforme, comprasDelExteriorIngInforme,'comprasExterior')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <mat-label>Núm. Trabajadores</mat-label>
          <input matInput placeholder="" type="number" [(ngModel)]="numTrabajadoresInforme">
        </mat-form-field>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!--LOCAL PRINCIPAL-->
  <div class="col-md-6">
    <div class="row counter-box shadow mb-2">
      <h4>Local Principal</h4>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Titularidad</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="titularidadInforme">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Area Total</mat-label>
          <input matInput placeholder="" [(ngModel)]="areaTotalInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarTraduccion(tituloAreaTotal, '', areaTotalInforme, areaTotalIngInforme,'areaTotal')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>Domicilio Anterior</mat-label>
          <input matInput placeholder=""[(ngModel)]="domicilioAnteriorInforme">
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>Otros Locales (Plantas, Almacenes, Depósitos, Sucursales)</mat-label>
          <textarea matInput placeholder="" style="min-height: 5rem;" [(ngModel)]="otrosLocalesInforme"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario(tituloOtrosLocales,subtituloOtrosLocales, otrosLocalesInforme, otrosLocalesIngInforme,'otrosLocales')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!--DETALLES Y COMENTARIOS-->
  <div class="col-md-6">
    <div class="row counter-box shadow mb-2">
      <h4>Detalles y Comentarios</h4>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>Detalle de Actividad Principal u Objetivo Social</mat-label>
          <textarea matInput placeholder="" style="min-height: 5.8rem;" [(ngModel)]="comentarioActividadPrincipal"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario('Detalle de Actividad Principal u Objetivo Social','', comentarioActividadPrincipal, comentarioActividadPrincipalIng,'comentarioActividadPrincipal')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>Comentario Adicional de Negocio</mat-label>
          <textarea matInput placeholder="" style="min-height: 5.8rem;" [(ngModel)]="comentarioNegocio"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario('Comentario Adicional de Negocio','', comentarioNegocio, comentarioNegocioIng,'comentarioNegocio')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!--CUADRO TABULADO-->
  <div class="col-md-12">
    <div class="row counter-box shadow mb-2" style="min-height: 10rem;">
      <h4>Comentario de Negocios (Cuadro Tabulado)</h4>
      <div class="col-md-12">
        <ckeditor [editor]="Editor" style="min-height: 12rem; " data="" [(ngModel)]="comentarioNegocioTabulado" ></ckeditor>
      </div>
    </div>
  </div>
</div>
