<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <h4>Ramo de Negocio</h4>
        <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
          <mat-icon class="col-white">save</mat-icon>
        </button>
      </div>
      <hr>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Sector (Principal)</mat-label>
          <mat-select [(ngModel)]="sectorPrincipalInforme">
            <mat-option [value]="item.id" *ngFor="let item of listaSectorPrincipal">{{item.valor}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6 d-flex">
        <mat-form-field class="w-100">
          <mat-label>Ramo de Negocios (Principal)</mat-label>
          <input matInput placeholder="" [(ngModel)]="ramoNegociosInforme" [readonly]="true">
        </mat-form-field>
        <div class="d-flex justify-content-center" >
          <button mat-mini-fab class="bg-blue" style="margin: .7rem 1rem 0 1rem;" (click)="ramoActividadDialog()" #tooltip="matTooltip" matTooltip="Seleccionar Ramo y Actividad">
            <mat-icon class="col-white">question_mark</mat-icon>
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Actividad Específica</mat-label>
          <input matInput placeholder="" [(ngModel)]="actividadEspecificaInforme" [readonly]="true">
        </mat-form-field>

      </div>
      <!--COMERCIO EXTERIOR-->
      <h5>Comercio Exterior</h5>
      <div class="col-md-2">
        <mat-form-field style="width: 100%;">
          <mat-label>¿Importan?</mat-label>
          <mat-select [(ngModel)]="checkImportacion" (selectionChange)="selectImportan($event.value)">
            <mat-option [value]="''">
            </mat-option>
            <mat-option [value]="'SI'">
              SÍ
            </mat-option>
            <mat-option [value]="'NO'">
              NO
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-9">
        <form class="w-100">
          <mat-form-field class="example-chip-list w-100">
            <mat-label>Paises </mat-label>
            <mat-chip-grid #chipGrid1 aria-label="Country selection" [disabled]="checkImportacion !=='SI'">
                <mat-chip-row *ngFor="let pais of paisesSeleccionadosImpo;" (removed)="removeImpo(pais.valor)">
                  {{pais.valor}} &nbsp;<span class="fi fi-{{pais.bandera}}"></span>
                  <button matChipRemove [attr.aria-label]="'remove ' + pais.valor">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Seleccionar Pais" #paisExpoInput [formControl]="controlPaisesImpo" [disabled]="checkImportacion !=='SI'"
              [matChipInputFor]="chipGrid1" [matAutocomplete]="auto1"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addImpo($event)"/>
            <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayPais" (optionSelected)="selectedImpo($event)">
              <mat-option *ngFor="let pais of filterPaisImpo | async" [value]="pais.valor">
                <span class="fi fi-{{pais.bandera}}"></span>
                {{pais.valor}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-md-1 d-flex justify-content-center">
        <button mat-mini-fab class="bg-brown" style="margin-top: .7rem;" #tooltip="matTooltip" matTooltip="Cuadro de Importación" (click)="ImportacionDialog()">
          <mat-icon class="col-white">table_view</mat-icon>
        </button>
      </div>
      <div class="col-md-2">
        <mat-form-field style="width: 100%;">
          <mat-label>¿Exportan?</mat-label>
          <mat-select [(ngModel)]="checkExportacion" (selectionChange)="selectExportan($event.value)">
            <mat-option [value]="''">
            </mat-option>
            <mat-option [value]="'SI'">
              SÍ
            </mat-option>
            <mat-option [value]="'NO'">
              NO
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-9">
        <form class="w-100">
          <mat-form-field class="example-chip-list w-100">
            <mat-label>Paises </mat-label>
            <mat-chip-grid #chipGrid2 aria-label="Country selection" [disabled]="checkExportacion !=='SI'">
                <mat-chip-row *ngFor="let pais of paisesSeleccionadosExpo;" (removed)="removeExpo(pais.valor)">
                  {{pais.valor}} &nbsp;<span class="fi fi-{{pais.bandera}}"></span>
                  <button matChipRemove [attr.aria-label]="'remove ' + pais.valor">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Seleccionar Pais" #paisExpoInput [formControl]="controlPaisesExpo" [disabled]="checkExportacion !=='SI'"
              [matChipInputFor]="chipGrid2" [matAutocomplete]="auto2"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addExpo($event)"/>
            <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayPais" (optionSelected)="selectedExpo($event)">
              <mat-option *ngFor="let pais of filterPaisExpo | async" [value]="pais.valor">
                <span class="fi fi-{{pais.bandera}}"></span>
                {{pais.valor}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div class="col-md-1 d-flex justify-content-center">
        <button mat-mini-fab class="bg-brown" style="margin-top: .7rem;" #tooltip="matTooltip" matTooltip="Cuadro de Exportación" (click)="ExportacionDialog()">
          <mat-icon class="col-white">table_view</mat-icon>
        </button>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>% Venta Contado/Forma</mat-label>
          <input matInput placeholder="" [(ngModel)]="ventaContadoInforme">
          <button matSuffix mat-mini-fab color="primary" (click)="comercioExteriorDialog('% Venta Contado / Forma')"  #tooltip="matTooltip" matTooltip="Editar">
            <i class="fa-solid fa-pen-to-square" style="color: white;"></i>
            <span class="fi fi-us" [class]="ventaContadoIngInforme === '' ? 'sin-traduccion' : ''"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>% Crédito/Términos</mat-label>
          <input matInput placeholder="" [(ngModel)]="creditoTerminosInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="creditoTerminosIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloCreditoTerminos, '', creditoTerminosInforme, creditoTerminosIngInforme,'creditoTermino')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>Territorio de Ventas</mat-label>
          <input matInput placeholder="" [(ngModel)]="territorioVentasInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="territorioVentasIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloTerritorioVentas, '', territorioVentasInforme, territorioVentasIngInforme,'territorioVentas')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>% Ventas al Exterior</mat-label>
          <input matInput placeholder="" [(ngModel)]="ventasExteriorInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="ventasExteriorIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloVentaExterior, '', ventasExteriorInforme, ventasExteriorIngInforme,'ventaExterior')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>% Compras Nacionales</mat-label>
          <input matInput placeholder="" [(ngModel)]="comprasNacionalesInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="comprasNacionalesIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloComprasNacionales, '', comprasNacionalesInforme, comprasNacionalesIngInforme,'comprasNacionales')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="w-100">
          <mat-label>% Del Exterior</mat-label>
          <input matInput placeholder="" [(ngModel)]="comprasDelExteriorInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="comprasDelExteriorIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloExterior, '', comprasDelExteriorInforme, comprasDelExteriorIngInforme,'comprasExterior')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>Núm. Trabajadores</mat-label>
          <input matInput placeholder="" type="number" [(ngModel)]="numTrabajadoresInforme">
        </mat-form-field>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
  <!--LOCAL PRINCIPAL-->
  <div class="col-md-6">
    <div class="row counter-box shadow mb-2">
      <h4>Local Principal</h4>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Titularidad</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto3" [(ngModel)]="titularidadInforme">
          <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="w-100">
          <mat-label>Area Total</mat-label>
          <input matInput placeholder="" [(ngModel)]="areaTotalInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="areaTotalIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloAreaTotal, '', areaTotalInforme, areaTotalIngInforme,'areaTotal')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Domicilio Anterior</mat-label>
          <input matInput placeholder=""[(ngModel)]="domicilioAnteriorInforme">
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Otros Locales (Plantas, Almacenes, Depósitos, Sucursales)</mat-label>
          <textarea matInput placeholder="" style="min-height: 5rem;" [(ngModel)]="otrosLocalesInforme"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button [class]="otrosLocalesIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloOtrosLocales,subtituloOtrosLocales, otrosLocalesInforme, otrosLocalesIngInforme,'otrosLocales')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!--DETALLES Y COMENTARIOS-->
  <div class="col-md-6">
    <div class="row counter-box shadow mb-2">
      <h4>Detalles y Comentarios</h4>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Detalle de Actividad Principal u Objetivo Social</mat-label>
          <textarea matInput placeholder="" style="min-height: 5.8rem;" [(ngModel)]="comentarioActividadPrincipal"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button [class]="comentarioActividadPrincipalIng === '' ? 'sin-traduccion' : ''"  (click)="agregarComentario('Detalle de Actividad Principal u Objetivo Social','', comentarioActividadPrincipal, comentarioActividadPrincipalIng,'comentarioActividadPrincipal')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-label>Comentario Adicional de Negocio</mat-label>
          <textarea matInput placeholder="" style="min-height: 5.8rem;" [(ngModel)]="comentarioNegocio"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button [class]="comentarioNegocioIng === '' ? 'sin-traduccion' : ''" (click)="agregarComentario('Comentario Adicional de Negocio','', comentarioNegocio, comentarioNegocioIng,'comentarioNegocio')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!--CUADRO TABULADO-->
  <div class="col-md-12">
    <div class="row counter-box shadow mb-2" style="min-height: 10rem;">
      <h4>Comentario de Negocios (Cuadro Tabulado)</h4>
      <div class="col-md-12">
        <ckeditor [editor]="Editor" style="min-height: 12rem; " data="data" [(ngModel)]="data" ></ckeditor>
      </div>
    </div>
  </div>
</div>
