<div class="container" >
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="materialTableHeader mt-3" >
          <div class="left">
            <ul class="header-buttons-left ms-0">
              <li class="tbl-title">
                <h2>Comentario para el Cupón {{cupon}}</h2>
              </li>
            </ul>
          </div>
          <div class="right">
            <ul class="tbl-export-btn">
              <li class="tbl-header-btn">
                <div class="m-l-10" >
                  <button class="btn btn-primary btn-sm btn-block waves-effect" style="width: 7rem;" type="button">
                    <i class="fa-regular fa-floppy-disk"></i>&nbsp;Guardar
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="body">
                <ckeditor [editor]="Editor" style="height: 28rem;" data="{{order[0].comment}}"></ckeditor>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
