<mat-dialog-content  g-content class="m-0 p-0" style="max-width: 60rem; min-height: 50rem; overflow-y: auto; overflow-x: none;">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card shadow " style="border-radius: 0; background-color: #dae1f3;">
        <div class="row">
          <div class="col-md-2">
            <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
              <mat-label>Código</mat-label>
              <input matInput placeholder="Ej. 1234" [(ngModel)]="codigo" >
              <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="codigo !== ''" (click)="codigo = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Ej. ALICORP SA" [(ngModel)]="nombre" >
              <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="nombre !== ''" (click)="nombre = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-4 d-flex align-items-center">
            <mat-radio-group class="d-flex" [(ngModel)]="estado" aria-label="Seleccionar">
              <mat-radio-button value="A">Activos</mat-radio-button>
              <mat-radio-button value="T">Todos</mat-radio-button>
            </mat-radio-group>
          </div>
          <div class="col-md-2 d-flex align-items-center justify-content-center">
            <div class="" matTooltip="BUSCAR" style="margin: 0 .5rem 0 .5rem">
              <button mat-mini-fab class="bg-blue" (click)="filtrarAbonados()">
                <mat-icon class="col-white">search</mat-icon>
              </button>
            </div>
            <div class="" matTooltip="LIMPIAR" style="margin: 0 .5rem 0 .5rem">
              <button mat-mini-fab class="bg-red" (click)="limpiar()">
                <mat-icon class="col-white">cleaning_services</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" style="overflow-x: auto;">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
        <ng-container matColumnDef="codigo" >
        <th mat-header-cell *matHeaderCellDef class="text-center" style="max-width: 5rem;"> Código</th>
        <td mat-cell *matCellDef="let abonado" class="text-center">{{abonado.code}}</td>
        </ng-container>
        <ng-container matColumnDef="nombre" >
          <th mat-header-cell *matHeaderCellDef  class="text-center" style="min-width: 15rem;"> Nombre</th>
          <td mat-cell *matCellDef="let abonado" class="text-center">{{abonado.name}}</td>
        </ng-container>
        <!--ng-container matColumnDef="direccion" >
          <th mat-header-cell *matHeaderCellDef  class="text-center"> Dirección</th>
          <td mat-cell *matCellDef="let abonado" class="text-center">{{abonado.address}}</td>
        </ng-container-->
        <ng-container matColumnDef="pais" >
          <th mat-header-cell *matHeaderCellDef class="text-center" style="max-width: 9rem;"> País</th>
          <td mat-cell *matCellDef="let abonado" class="text-center">
            {{abonado.country}} <span class="fi fi-{{abonado.flagCountry}}" style="font-size: 20px;"></span>
          </td>
        </ng-container>
        <ng-container matColumnDef="tipoFacturacion" >
        <th mat-header-cell *matHeaderCellDef class="text-center"> Facturación</th>
        <td mat-cell *matCellDef="let abonado" style="min-width: 15rem;" class="text-center">
          <div *ngIf="abonado.facturationType === 'FM'">
            <i class="fa-solid fa-calendar-days"></i>
            Facturación Mensual
          </div>
          <div *ngIf="abonado.facturationType === 'CC'">
            <i class="fa-solid fa-ticket"></i>
            Con Cupones
          </div>
        </td>
        </ng-container>
        <ng-container matColumnDef="acciones" >
          <th mat-header-cell *matHeaderCellDef  class="text-center" style="min-width: 10rem;"> Acciones </th>
          <td mat-cell *matCellDef="let abonado" class="text-center ">
            <button class="btn bg-green btn-sm btn-block waves-effect"  (click)="seleccionarAbonado(abonado.id)" style="width: 7rem;" type="button" ><i class="fa-solid fa-circle-check"></i> Seleccionar </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let empresa; columns: columnsToDisplay;"
          class=""></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[25, 50, 100]" aria-label="Seleccionar" class="w-100"></mat-paginator>
    </div>
  </div>
</mat-dialog-content>

