<section class="content" >
  <div id="pagina-detalle-abonado" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid w-100 " [ngClass]="{'show-form': loading}" style="overflow: auto;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [subtitle]="''" [items]="breadscrum.items" [codigoInforme]="''" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="" style="width:100%;">
      <mat-tab-group [preserveContent]="true">
        <mat-tab>
          <ng-template mat-tab-label >
            <i id="tab-datos-generales" class="fa-solid fa-circle-info" style="font-size: 20px;"  [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Información General"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Info. General</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-datos-generales-abonado></app-datos-generales-abonado>
          </ng-template>
        </mat-tab>
        <!--mat-tab [ngClass]="{'tab-completo': false}" [disabled]="id === 0"-->
        <mat-tab [ngClass]="{'tab-completo': false}">
          <ng-template mat-tab-label>
            <i id="tab-precios" class="fa-solid fa-circle-dollar-to-slot" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Precios"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Precios</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-precios-abonado></app-precios-abonado>
          </ng-template>
        </mat-tab>
        <!--mat-tab  [disabled]="id === 0"-->
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-facturacion-web" class="fa-solid fa-globe" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Facturación Web"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Facturación Web</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-facturacion-web></app-facturacion-web>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-facturacion-cupones" class="fa-solid fa-ticket" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Facturación Por Cupones"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Facturación Cupones</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-facturacion-por-cupon></app-facturacion-por-cupon>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
