<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <h4>Opinión de Crédito</h4>
        <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" #tooltip="matTooltip" matTooltip="Guardar">
          <mat-icon class="col-white">save</mat-icon>
        </button>
      </div>
      <hr>
      <div class="col-md-4">
        <mat-slide-toggle [(ngModel)]="checkSolicitudCredito" class="mb-3"  style="width:15rem; margin-left: 1rem; margin-top: 1rem;">
          ¿Presenta Solicitud de Crédito?
          <div *ngIf="checkSolicitudCredito === true">Sí</div>
          <div *ngIf="checkSolicitudCredito === false">No</div>
        </mat-slide-toggle>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width mt-2" >
          <mat-label>Crédito Consultado</mat-label>
          <input matInput type="text" placeholder="" [(ngModel)]="creditoConsultado" [readonly]="!checkSolicitudCredito">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="creditoConsultadoIng === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloCreditoConsultado,'',creditoConsultado,creditoConsultadoIng,'creditoConsultado')" [disabled]="!checkSolicitudCredito">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width mt-2">
          <mat-label>Crédito Sugerido</mat-label>
          <input matInput type="text" placeholder=""  [(ngModel)]="creditoSugerido" [readonly]="!checkSolicitudCredito">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="creditoSugeridoIng === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloCreditoSugerido,'',creditoSugerido,creditoSugeridoIng,'creditoSugerido')" [disabled]="!checkSolicitudCredito">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <h5>Comentario Acorde a lo Anotado</h5>
      <div class="col-md-12">
        <mat-form-field class="example-full-width mt-2">
          <mat-label>Comentario</mat-label>
          <textarea matInput type="text" placeholder="" style="min-height: 8rem;" [(ngModel)]="comentarioAnotado"></textarea>
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="comentarioAnotadoIng === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloComentario,'',comentarioAnotado,comentarioAnotadoIng,'comentarioAnotado')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <h5>Comentarios Anteriores (No se imprime)</h5>
      <div class="col-md-12">
        <mat-form-field class="example-full-width mt-2">
          <mat-label>Comentario</mat-label>
          <textarea matInput type="text" placeholder="" style="min-height: 8rem;" [(ngModel)]="comentarioAnterior"></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
