<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <h4>Imágenes de la Empresa</h4>
      <hr>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" *ngIf="img1 === ''">
          <mat-label>Imagen 1</mat-label>
          <input matInput placeholder="" [(ngModel)]="img1">
        </mat-form-field>
        <div class="w-100  d-flex justify-content-center align-content-center mat-elevation-z8">
          <img class="" src="{{img1}}" style="background-size: cover; background-repeat: no-repeat; width: 100%; ">
        </div>
        <div class="col-md-12 d-flex justify-content-center" *ngIf="img1 !== ''">
          <div class="m-2">
            <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
          </div>
          <div class="m-2">
            <button class="btn btn-danger" (click)="img1=''"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width" *ngIf="img1 !== ''">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="" [(ngModel)]="descripcion1">
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario('Descripción - Traduccion','Descripción de Imagen 1','','')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" *ngIf="img2 === ''">
          <mat-label>Imagen 2</mat-label>
          <input matInput placeholder="" [(ngModel)]="img2" >
        </mat-form-field>
        <div class="w-100  d-flex justify-content-center align-content-center mat-elevation-z8">
          <img class="" src="{{img2}}" style="background-size: cover; background-repeat: no-repeat; width: 100%; ">
        </div>
        <div class="col-md-12 d-flex justify-content-center" *ngIf="img2 !== ''">
          <div class="m-2">
            <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
          </div>
          <div class="m-2">
            <button class="btn btn-danger" (click)="img2=''"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width" *ngIf="img2 !== ''">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="" [(ngModel)]="descripcion2">
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario('Descripción - Traduccion','Descripción de Imagen 2','','')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width" *ngIf="img3 === ''">
          <mat-label>Imagen 3</mat-label>
          <input matInput placeholder="" [(ngModel)]="img3" >
        </mat-form-field>
        <div class="w-100  d-flex justify-content-center align-content-center mat-elevation-z8">
          <img class="" src="{{img3}}" style="background-size: cover; background-repeat: no-repeat; width: 100%; ">
        </div>
        <div class="col-md-12 d-flex justify-content-center" *ngIf="img3 !== ''">
          <div class="m-2">
            <button class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
          </div>
          <div class="m-2">
            <button class="btn btn-danger" (click)="img3=''"><i class="fa-solid fa-trash"></i></button>
          </div>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width" *ngIf="img3 !== ''">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="" [(ngModel)]="descripcion3">
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario('Descripción - Traduccion','Descripción de Imagen 3','','')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
          </mat-form-field>
        </div>
      </div>


      <!--div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" >
          <ngx-dropzone-label>
            {{ f.name }} ({{ f.type }})
            <br>
            <button class="btn bg-red" (click)="onRemove(f)"><i class="fa-solid fa-trash"></i></button>
            <button class="btn btn-primary" (click)="onRemove(f)"><i class="fa-solid fa-pen-to-square"></i></button>

          </ngx-dropzone-label>

        </ngx-dropzone-image-preview>
      </!--div-->
    </div>
  </div>
</div>

