<div class="container" >
  <div class="row ">
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="materialTableHeader mt-3">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h4>{{titulo}}</h4>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button class="btn bg-cyan d-flex" type="button">
                      <i class="fa-solid fa-floppy-disk" style="font-size: 20px; margin: .3rem 0 .5rem 0;"></i>
                      <div style="font-size: 20px;">&nbsp;Guardar</div>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" >
                    <button class="btn bg-red d-flex" type="button" >
                      <i class="fa-solid fa-right-from-bracket" style="font-size: 20px; margin: .3rem 0 .5rem 0;" ></i>
                      <div style="font-size: 20px;">&nbsp;Salir</div>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12" *ngIf="accion === 'ACTIVIDAD'">
      <mat-form-field class="example-full-width">
        <mat-label>Ramo de Negocio</mat-label>
        <input type="text" matInput [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let ramo of filtrarRamo" [value]="ramo.nombre">
            {{ramo.nombre}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-table [dataSource]="dataSourceR" multiTemplateDataRows class="mat-elevation-z8" *ngIf="accion === 'RAMO'">
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef class="text-center" style="width: 3rem; justify-content: center;"> Nombre Esp. </mat-header-cell>
          <mat-cell *matCellDef="let ramo" class="text-center w-100 justify-content-center">{{ ramo.nombre }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreIng">
          <mat-header-cell *matHeaderCellDef class="text-center" style="width: 10rem; justify-content: center;"> Nombre Ing.</mat-header-cell>
          <mat-cell *matCellDef="let ramo" class="text-center w-100 justify-content-center">{{ ramo.nombreIng }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="enable">
          <mat-header-cell *matHeaderCellDef class="text-center" style="max-width: 6rem; justify-content: center;"> Activo</mat-header-cell>
          <mat-cell *matCellDef="let ramo" class="text-center w-100 justify-content-center" style="max-width: 6rem;">
            <div class="circle-inactive" *ngIf="ramo.enable === false"></div>
            <div class="circle-active" *ngIf="ramo.enable === true"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef class="text-center" style="max-width: 6rem; justify-content: center;"> Acciones</mat-header-cell>
          <mat-cell *matCellDef="let ramo" class="text-center w-100 justify-content-center" style="max-width: 6rem;">
            s
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnasR"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnasR;"></mat-row>
      </mat-table>
    </div>
    <div class="col-md-12">
      <mat-table [dataSource]="dataSourceA" multiTemplateDataRows class="mat-elevation-z8" *ngIf="accion === 'ACTIVIDAD'">
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef class="text-center" style="justify-content: center;"> Nombre Esp. </mat-header-cell>
          <mat-cell *matCellDef="let actividad" class="text-center w-100 justify-content-center">{{ actividad.nombre }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombreIng">
          <mat-header-cell *matHeaderCellDef class="text-center" style="width: 10rem; justify-content: center;"> Nombre Ing.</mat-header-cell>
          <mat-cell *matCellDef="let actividad" class="text-center w-100 justify-content-center">{{ actividad.nombreIng }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="enable">
          <mat-header-cell *matHeaderCellDef class="text-center" style="max-width: 6rem; justify-content: center;">Activo</mat-header-cell>
          <mat-cell *matCellDef="let actividad" class="text-center w-100 justify-content-center" style="max-width: 6rem;">
            <div class="circle-inactive" *ngIf="actividad.enable === false"></div>
            <div class="circle-active" *ngIf="actividad.enable === true"></div>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="accion">
          <mat-header-cell *matHeaderCellDef class="text-center" style="max-width: 6rem; justify-content: center;"> Acciones</mat-header-cell>
          <mat-cell *matCellDef="let ramo" class="text-center w-100 justify-content-center" style="max-width: 6rem;">
            <button class="btn bg-green d-flex justify-content-center" style="color: white; margin: .5rem 0 1rem 0;"#tooltip="matTooltip" matTooltip="Editar">
              <i class="fa-solid fa-edit" style="font-size: 20px;"></i>
            </button>
            <button class="btn bg-red d-flex justify-content-center" style="color: white; margin: .5rem 0 1rem 0;" #tooltip="matTooltip" matTooltip="Quitar">
              <i class="fa-solid fa-remove" style="font-size: 20px;"></i>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnasR"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnasR;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
