.circle-inactive {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
}
.circle-active {
  width: 1rem;
  height: 1rem;
  background-color: green;
  border-radius: 50%;
}
.table-container {
  height: 400px;
  overflow-y: scroll; 
}


