
<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow mb-2">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <h4>Antecedentes Legales</h4>
        <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
          <mat-icon class="col-white">save</mat-icon>
        </button>
      </div>
      <hr>
      <div class="col-md-4">
        <mat-form-field color="primary" style="width: 100%;">
          <mat-label>Fecha de Constitución</mat-label>
          <input matInput [matDatepicker]="fecha_contitucion_informe" [(ngModel)]="fechaConstitucionInformeDate" [readonly]="true" (dateChange)="onDateChange1($event)">
          <mat-datepicker-toggle matIconSuffix [for]="fecha_contitucion_informe"></mat-datepicker-toggle>
          <mat-datepicker #fecha_contitucion_informe color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Inicio de Actividades</mat-label>
          <span matSuffix style="margin-right: .5rem; color:gray;">
            <i class="fa-solid fa-flag-checkered"></i>
          </span>
          <input matInput placeholder="" [(ngModel)]="inicioActividadesInforme"  mask="9999" type="number">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Duración</mat-label>
          <input matInput placeholder="" [(ngModel)]="duracionInforme">
          <button class="btn-traduccion" [class]="duracionIngInforme === '' ? 'sin-traduccion' : ''" matSuffix mat-icon-button (click)="agregarTraduccion(tituloDuracion,'', duracionInforme, duracionIngInforme, 'duracion')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Registrada en</mat-label>
          <input matInput placeholder="" [(ngModel)]="registradaEnInforme">
          <button class="btn-traduccion" [class]="registradaEnIngInforme === '' ? 'sin-traduccion' : ''" matSuffix mat-icon-button (click)="agregarTraduccion(tituloRegistradaEn,'', registradaEnInforme, registradaEnIngInforme,'registradaEn')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Notaria</mat-label>
          <input matInput placeholder="" [(ngModel)]="notariaInforme">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Registros Públicos</mat-label>
          <input matInput placeholder="" [(ngModel)]="registrosPublicosInforme">
          <button class="btn-traduccion" [class]="registrosPublicosIngInforme === '' ? 'sin-traduccion' : ''" matSuffix mat-icon-button (click)="agregarTraduccion(tituloRegistrosPublicos,'', registrosPublicosInforme, registrosPublicosIngInforme, 'registrosPublicos')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Capital Pagado Actual</mat-label>
          <input matInput placeholder="" [(ngModel)]="capitalPagadoActualInforme" [readonly]="true">
          <button matSuffix mat-mini-fab color="primary" (click)="abrirCapitalPagado()"  #tooltip="matTooltip" matTooltip="Editar">
            <i class="fa-solid fa-pen-to-square" style="color: white;"></i>
            <span class="fi fi-us" [class]="capitalPagadoObservacionIng === '' ? 'sin-traduccion' : ''"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4 d-flex">
        <mat-form-field style="width: 100%;">
          <mat-label>Origen</mat-label>
          <mat-select [(ngModel)]="origenInforme" (selectionChange)="selectOrigen($event.value)">
            <mat-option [value]="''">
            </mat-option>
            <mat-option [value]="'NACIONAL'">
              Nacional
            </mat-option>
            <mat-option [value]="'EXTRANJERO'">
              Extranjero
            </mat-option>
            <mat-option [value]="'MIXTO'">
              Mixto
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div class="col-md-4 d-flex">
        <mat-form-field class="example-full-width">
          <mat-label>Fecha Aumento</mat-label>
          <input matInput placeholder="" [(ngModel)]="fechaAumentoInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="fechaAumentoIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloFechaAumento,'', fechaAumentoInforme, fechaAumentoIngInforme, 'fechaAumento')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Moneda del País</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="monedaPaisInforme">
          <button matSuffix mat-mini-fab color="primary" *ngIf="monedaPaisInforme !== ''" style="background-color: rgba(0,0,0,0);" (click)="monedaPaisInforme = ''"  #tooltip="matTooltip" matTooltip="Limpiar">
            <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
          </button>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <div class="d-flex">
          <mat-form-field style="width: 45%;">
            <mat-label>¿Cotizada en Bolsa?</mat-label>
            <mat-select [(ngModel)]="cotizadaEnBolsaInforme" (selectionChange)="selectCotizadoEnBolsaPor($event.value)">
              <mat-option [value]="''">
              </mat-option>
              <mat-option [value]="'SI'">
                SÍ
              </mat-option>
              <mat-option [value]="'NO'">
                NO
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field style="width: 55%;">
            <mat-label>Por</mat-label>
            <mat-select [(ngModel)]="cotizadaEnBolsaPorInforme" (selectionChange)="selectCotizadoEnBolsaPor($event.value)">
              <mat-option [value]="''">
              </mat-option>
              <mat-option [value]="'CAPITALIZACION'">
                Capitalización
              </mat-option>
              <mat-option [value]="'NUEVOS APORTES'">
                Nuevo Aportes
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <mat-form-field class="example-full-width">
          <mat-label>Actual T.C. X 1 US$</mat-label>
          <input matInput placeholder="" [(ngModel)]="actualTCInforme">
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="actualTCIngInforme === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion(tituloActualTC,'', actualTCInforme, actualTCIngInforme, 'actualTC')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>

      <div class="col-md-4">
        <mat-form-field color="primary" style="width: 100%;">
          <mat-label>Fecha de Ultima Consulta a RR.PP.</mat-label>
          <input matInput [matDatepicker]="fecha_ultima_consulta" (dateChange)="onDateChange2($event)">
          <mat-datepicker-toggle matIconSuffix [for]="fecha_ultima_consulta"></mat-datepicker-toggle>
          <mat-datepicker #fecha_ultima_consulta color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Por</mat-label>
          <input matInput placeholder="" [(ngModel)]="ultimaConsultaPorInforme">
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="row counter-box">
      <h4>Empresas Relacionadas Integrantes del Grupo Económico</h4>
      <div class="col-md-12">
        <div class="shadow m-1" style="overflow-x: auto;">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" >
            <ng-container matColumnDef="{{columnsToDisplay[0]}}">
              <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Razón Social </th>
              <td mat-cell *matCellDef="let report" class="text-center" >{{report[columnsToDisplay[0]]}}</td>
            </ng-container>
            <ng-container matColumnDef="{{columnsToDisplay[1]}}">
              <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Registro Tributario </th>
              <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[1]]}} </td>
            </ng-container>
            <ng-container matColumnDef="{{columnsToDisplay[2]}}">
              <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> País </th>
              <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[2]]}} </td>
            </ng-container>
            <ng-container matColumnDef="{{columnsToDisplay[3]}}">
              <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Fec. de Estab. </th>
              <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[3]]}} </td>
            </ng-container>
            <ng-container matColumnDef="{{columnsToDisplay[4]}}">
              <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Estado </th>
              <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[4]]}} </td>
            </ng-container>
            <ng-container matColumnDef="{{columnsToDisplay[5]}}">
              <th mat-header-cell *matHeaderCellDef class="text-center">
                  <button mat-mini-fab color="primary" style="margin-top: .7rem;">
                    <mat-icon class="col-white">add</mat-icon>
                  </button>
                </th>
              <td mat-cell *matCellDef="let report" class="text-center d-flex" >
                <button mat-icon-button  class="tbl-action-btn " #tooltip="matTooltip" matTooltip="Editar" style="margin-top: 1rem;">
                  <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                </button>
                <button mat-icon-button class="tbl-action-btn"  #tooltip="matTooltip" matTooltip="Quitar" style="margin-top: 1rem;">
                  <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row counter-box">
      <h4>Comentarios e Historial de Antecedentes</h4>
      <div class="col-md-12 d-flex justify-content-center mb-2">

      </div>
      <div class="col-md-12 d-flex justify-content-center mb-2">
        <button class="btn bg-blue d-flex justify-content-center" style="color: white; width: 9rem;"  #tooltip="matTooltip" matTooltip="Antecedentes Legales" [class]="comentarioAntecedentes === '' ? 'sin-traduccion' : ''"
        (click)="agregarComentario(tituloComentarioAntecedentes,subtituloComentarioAntecedentes, comentarioAntecedentes, comentarioAntecedentesIng, 'comentarioAntecedentes')">
          <i class="fa-regular fa-comment-dots" style="font-size: 18px; margin-top: .1rem;"></i>
          &nbsp;Antecedentes
        </button>
      </div>
      <div class="col-md-12 d-flex justify-content-center mb-2">
        <button class="btn bg-cyan d-flex justify-content-center" style="color: white; width: 9rem;" #tooltip="matTooltip" matTooltip="Historia (Antecedentes)" [class]="historialAntecedentes === '' ? 'sin-traduccion' : ''"
        (click)="agregarComentario(tituloHistoria,subtituloHistoria, historialAntecedentes, historialAntecedentesIng , 'historiaAntecedentes')">
          <i class="fa-solid fa-magnifying-glass"  style="font-size: 18px; margin-top: .1rem;"></i>
          &nbsp;Historia
        </button>
      </div>
    </div>
  </div>
</div>
