.button-with-icon {
  display: flex;
  align-items: center;
  width: 11rem;
}

.icon {
  margin-right: 0.5rem;
  font-size: 1.2rem;
}
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.circle-inactive {
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.circle-active {
  width: 1rem;
  height: 1rem;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}



mat-form-field{

  mat-label{

  }
  input{
    border-bottom: 3px solid rgb(200, 233, 200);

  }
  input:read-only{
    border-bottom: 3px solid rgb(163, 163, 247);

  }
  mat-select{
    border-bottom: 3px solid rgb(200, 233, 200);
  }
  textarea{
    border-bottom: 3px solid rgb(200, 233, 200);
  }
}

.mat-mdc-checkbox-touch-target{
  display: none;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 3px solid;
  border-color: #FFF #FFF transparent transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid;
  border-color: transparent transparent #FF3D00 #FF3D00;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotationBack 0.5s linear infinite;
  transform-origin: center center;
}
.loader::before {
  width: 32px;
  height: 32px;
  border-color: #FFF #FFF transparent transparent;
  animation: rotation 1.5s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  opacity: 1;
  transition: .3s ease all;
  background-color: rgba(0,0,0,0.7);
}

.loader-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.content {
  position: relative;
}

.show-form {
  opacity: 0;
  animation: fadeIn 1.5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.hide-loader {
  opacity: 1;
  animation: fadeOut 1.5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
