<section class="content">
  <div class="container-fluid">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <!-- DATOS GENERALES -->
        <div class="row counter-box p-3">
            <h3>Datos Generales</h3>
            <div class="col-md-6 d-flex align-items-center justify-content-center">
              <div class=" bg-c-green order-info-box7 w-100 shadow" style="border-radius: .5rem; padding: .5rem; margin-bottom: .8rem; ">
                <div class="d-flex justify-content-between">
                  <h3 class=" text-end m-b-5 " style="margin-top: .5rem;"><i class="fas fa-ticket-alt float-start" style="margin-top: .2rem; margin-right: .5rem;"> </i> Nro. del Cupón</h3>
                  <h2 class="text-end" style="margin-top: .5rem;">{{ nmrCupon }}</h2>
                </div>

              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center" >
              <button class="btn bg-cyan btn-lg btn-block waves-effect mb-3" style="margin-left: 1rem; margin-right: 1rem;" type="button">
                <div class="d-flex align-items-center" style="font-size: 20px;">
                  <i class="fa-solid fa-floppy-disk"></i>&nbsp; <div style="font-size: 20px;"> Guardar</div>
                </div>
              </button>
              <button class="btn bg-red btn-lg btn-block waves-effect mb-3" style="margin-left: 1rem; margin-right: 1rem; " (click)="volver()" type="button">
                <div class="d-flex align-items-center" style="font-size: 20px;">
                  <i class="fa-solid fa-right-from-bracket"></i>&nbsp; <div style="font-size: 20px;"> Cancelar</div>
                </div>
              </button>

            </div>
            <hr>
            <div class="col-md-4 d-flex align-items-center">
              <mat-form-field class="example-full-width">
                <mat-label>Código del Abonado</mat-label>
                <input matInput placeholder="Ej. 1234" value="" [(ngModel)]="codAbonado" (ngModelChange)="asignarDatosAbonado()">
               </mat-form-field>
              <button mat-raised-button color="primary" (click)="buscarAbonado()" class="button-with-icon" style="margin-bottom: 1.5rem; margin-left: 1rem;">
                <i class="fa-solid fa-magnifying-glass icon"></i> Buscar
              </button>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <mat-form-field color="primary" style="width: 100%;">
                <mat-label>Fecha del Pedido</mat-label>
                <input matInput [matDatepicker]="fecha_pedido">
                <mat-datepicker-toggle matIconSuffix [for]="fecha_pedido"></mat-datepicker-toggle>
                <mat-datepicker #fecha_pedido color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
            <mat-form-field color="primary" style="width: 100%;">
                <mat-label>Fecha de Venc. Real</mat-label>
                <input matInput [matDatepicker]="fecha_vencimiento_real">
                <mat-datepicker-toggle matIconSuffix [for]="fecha_vencimiento_real"></mat-datepicker-toggle>
                <mat-datepicker #fecha_vencimiento_real color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <mat-form-field color="primary" style="width: 100%;">
                <mat-label>Fecha de Vencimiento</mat-label>
                <input matInput [matDatepicker]="fecha_vencimiento">
                <mat-datepicker-toggle matIconSuffix [for]="fecha_vencimiento"></mat-datepicker-toggle>
                <mat-datepicker #fecha_vencimiento color="primary"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-2 d-flex justify-content-center">
              <mat-form-field style="width: 100%;">
                <mat-label>Idioma </mat-label>
                <mat-select [(value)]="idiomaSeleccionado">
                  <mat-option [value]="idioma.value" *ngFor="let idioma of idiomas">{{ idioma.viewValue }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <!-- DATOS DEL ABONADO Y DE LA EMPRESA -->
          <div class="row">
            <!-- DATOS DEL ABONADO -->
            <div class="col-md-4 mt-3">
              <div class="counter-box shadow m-1">
                <h3>Datos Referenciales del Abonado</h3>
                <div class="d-flex align-items-center">
                  <mat-form-field class="example-full-width" style="margin-right: 1rem;">
                    <mat-label>Abonado</mat-label>
                    <input matInput placeholder="" value="" [(ngModel)]="nombreAbonado" readonly>
                  </mat-form-field>
                  <mat-slide-toggle [(ngModel)]="isChecked" class="mb-3" (click)="revelarNombre()" style="width:15rem; margin-left: 1rem;">Revelar Nombre: {{nombre_abonado}}</mat-slide-toggle>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Pais</mat-label>
                      <div class="input-container">
                        <input matInput placeholder="" value="" [(ngModel)]="pais" readonly>
                        <div>
                          <span class="fi fi-{{codigoPais}}" style="font-size: 20px;"></span>
                        </div>
                      </div>
                    </mat-form-field>
                    <mat-form-field class="example-full-width d-flex">
                      <mat-label>Estado</mat-label>
                      <div class="input-container">
                        <input matInput placeholder="" value="" [(ngModel)]="estado" readonly>
                        <div class="circle-inactive" *ngIf="estado === 'INACTIVO'"></div>
                        <div class="circle-active" *ngIf="estado === 'ACTIVO'"></div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Nro. Referencia</mat-label>
                      <input matInput placeholder="" [(ngModel)]="nmrReferencia" value="" >
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <mat-label>Crédito Consultado</mat-label>
                      <input matInput placeholder="" value="" [(ngModel)]="creditoConsultado">
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" >
                      <mat-label>Indicaciones del Abonado</mat-label>
                      <textarea matInput placeholder="" style="min-height: 7rem;" [(ngModel)]="indicacionesAbonado"></textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Datos Adicionales</mat-label>
                      <textarea matInput placeholder="" style="min-height: 7rem;" [(ngModel)]="datosAdicionales"></textarea>
                    </mat-form-field>
                  </div>

                </div>

              </div>
            </div>
            <!-- DATOS DE LA EMPRESA -->
            <div class="col-md-8 mt-3">
              <div class="counter-box shadow m-1" >
                <h3>Datos de la Empresa/Persona a Investigar</h3>
                <div class="row">
                  <div class="col-md-8 d-flex align-items-center">
                    <mat-form-field class="w-100">
                      <mat-label>Nombre de la Empresa/Persona</mat-label>
                      <input matInput placeholder="Ej. ALICORP SA" value="">
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="buscarEmpresaPersona()" class="button-with-icon" style="margin-bottom: 1.5rem; margin-left: 1rem;">
                      <i class="fa-solid fa-magnifying-glass icon"></i> Buscar
                    </button>
                  </div>
                  <div class="col-md-4 d-flex justify-content-center">
                    <!--mat-form-field style="width: 100%;">
                      <mat-label>Tipo de Informe </mat-label>
                      <mat-select [(value)]="idiomaSeleccionado">
                        <mat-option [value]="idioma.value" *ngFor="let idioma of idiomas">{{ idioma.viewValue }}</mat-option>
                      </mat-select>
                    </!--mat-form-field-->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>RUC</mat-label>
                      <input matInput placeholder="" value="123456789" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Continente </mat-label>
                      <mat-select [(value)]="continenteSeleccionado">
                        <mat-option [value]="continente.value" *ngFor="let continente of continentes">{{ continente.viewValue }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>País</mat-label>
                      <div class="input-container">
                        <input matInput placeholder="" value="PERU" >
                        <div><span class="fi fi-pe" style="font-size: 24px;"></span></div>
                      </div>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Ciudad</mat-label>
                      <input matInput placeholder="" value="LIMA" >
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Dirección</mat-label>
                      <input matInput placeholder="" value="DIRECCION" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Correo</mat-label>
                      <input matInput type="email" placeholder="" value="correo@example.com" >
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                      <mat-label>Teléfono</mat-label>
                      <input matInput placeholder="" value="123456789" >
                    </mat-form-field>
                  </div>
                </div>
              </div>
              <!-- DETALLES DEL INFORME -->
              <div class="counter-box shadow m-1 mt-3">
                <h3>Detalles del Informe</h3>
                <div class="row">
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de Informe </mat-label>
                      <mat-select [(value)]="tipoInformeSeleccionado">
                        <mat-option [value]="tipoInforme.value" *ngFor="let tipoInforme of tipoInformes">{{ tipoInforme.viewValue }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 d-flex justify-content-center">
                    <mat-form-field color="primary" style="width: 100%;">
                      <mat-label>A la Fecha</mat-label>
                      <input matInput [matDatepicker]="fecha_informe">
                      <mat-datepicker-toggle matIconSuffix [for]="fecha_informe"></mat-datepicker-toggle>
                      <mat-datepicker #fecha_informe color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-1"></div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <mat-label>Tipo de Trámite </mat-label>
                      <mat-select [(value)]="tipoTramiteSeleccionado">
                        <mat-option [value]="tipoTramite.value" *ngFor="let tipoTramite of tipoTramites">{{ tipoTramite.viewValue }}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                      <mat-label>Precio del Informe ($)</mat-label>
                      <input matInput type="number" placeholder="" value="25" readonly>
                    </mat-form-field>
                  </div>
                  <div class="col-md-3 d-flex justify-content-center">
                    <mat-form-field color="primary" style="width: 100%;">
                      <mat-label>Para el Abonado </mat-label>
                      <input matInput [matDatepicker]="fecha_abonado">
                      <mat-datepicker-toggle matIconSuffix [for]="fecha_abonado"></mat-datepicker-toggle>
                      <mat-datepicker #fecha_abonado color="primary"></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- OTROS ABONADOS PIDIERON ESTE INFORME -->
          <div class="row">
            <div class="col-md-12 mt-3" >
              <div class="counter-box shadow m-1" style="overflow-x: auto;">
                <h3>Abonados que Pidieron este Informe</h3>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" >

                  <ng-container matColumnDef="{{columnsToDisplay[0]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Tipo </th>
                    <td mat-cell *matCellDef="let report" class="text-center" >
                      <div *ngIf="report[columnsToDisplay[0]] === 'OR'">
                        <div class="badge badge-solid-orange" style="font-size: 16px;">{{report[columnsToDisplay[0]]}}</div>
                      </div>
                      <div *ngIf="report[columnsToDisplay[0]] === 'RV'">
                        <div class="badge badge-solid-green" style="font-size: 16px;">{{report[columnsToDisplay[0]]}}</div>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[1]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Cupón </th>
                    <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[1]]}} </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[2]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Nombre Solicitado </th>
                    <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[2]]}} </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[3]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Despacho </th>
                    <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[3]]}} </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[4]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Abonado </th>
                    <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[4]]}} </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[5]}}">
                    <th mat-header-cell *matHeaderCellDef  class="text-center" style="font-size: 18px;"> Trámite </th>
                    <td mat-cell *matCellDef="let report" class="text-center" >
                      <div *ngIf="report[columnsToDisplay[5]] === 'T1'">
                        <div class="badge badge-solid-blue">{{report[columnsToDisplay[5]]}}</div>
                      </div>
                      <div *ngIf="report[columnsToDisplay[5]] === 'T2'">
                        <div class="badge badge-solid-purple">{{report[columnsToDisplay[5]]}}</div>
                      </div>
                      <div *ngIf="report[columnsToDisplay[5]] === 'T3'">
                        <div class="badge badge-solid-cyan">{{report[columnsToDisplay[5]]}}</div>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[6]}}">
                    <th mat-header-cell *matHeaderCellDef  class="text-center" style="font-size: 18px;"> País </th>
                    <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[6]]}} <span class="fi {{report['icono']}}" style="font-size: 20px;"></span></td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[7]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Balance </th>
                    <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[7]]}} </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[8]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Calidad </th>
                    <td mat-cell *matCellDef="let report" class="text-center" > {{report[columnsToDisplay[8]]}} </td>
                  </ng-container>

                  <ng-container matColumnDef="{{columnsToDisplay[9]}}">
                    <th mat-header-cell *matHeaderCellDef class="text-center" style="font-size: 18px;"> Estado </th>
                    <td mat-cell *matCellDef="let report" class="text-center"> {{report[columnsToDisplay[9]]}} </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
                </table>


              </div>
            </div>
          </div>

        </div>
      </div>


  </div>
</section>
