.mat-mdc-list{
  transition: .3s ease all;
}
.select{
  background-color: rgba(0,0,0,0.3);
  transition: .3s ease all;
}
.mat-mdc-list-item:hover{
  background-color: rgba(0,0,0,0.5);
  transition: .3s ease all;
  color: white;

}
.table-container {
  height: 300px;
  overflow-y: scroll;
}

.container-scrollable{
  overflow-y: auto;
}
