<section class="content" >
  <div class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid w-100 " [ngClass]="{'show-form': loading}" style="overflow: auto;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [subtitle]="''" [items]="breadscrum.items" [codigoInforme]="''" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="card card-body shadow mb-3">
      <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
          <div><h4>Información General</h4></div>
          <div>
            <button mat-mini-fab color="warn" style="margin: 0 .5rem .5rem .5rem;" (click)="volver()" #tooltip="matTooltip" matTooltip="Volver">
            <mat-icon class="col-white">arrow_back</mat-icon>
          </button>
          <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" (click)="guardarDatos()" #tooltip="matTooltip" matTooltip="Guardar">
            <mat-icon class="col-white">save</mat-icon>
          </button>
          </div>
        </div>
        <hr>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <mat-label>Tipo de Doc. de Identidad</mat-label>
                <mat-select [(ngModel)]="tipoDocIdent">
                  <mat-option *ngFor="let tipoDoc of tiposDocumento" [value]="tipoDoc.id">{{tipoDoc.valor}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <mat-label>Núm. de Doc. de Identidad</mat-label>
                <input matInput [(ngModel)]="numDocIdent" >
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput [(ngModel)]="email" >
                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>mail</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Apellidos</mat-label>
                <input matInput [(ngModel)]="apellidos">
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field class="w-100">
                <mat-label>Nombres</mat-label>
                <input matInput [(ngModel)]="nombres" >
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <mat-label>Teléfono Celular</mat-label>
                <input matInput [(ngModel)]="telCelular"  >
                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>smartphone</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <mat-label>Teléfono Fijo</mat-label>
                <input matInput [(ngModel)]="telFijo" >
                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>call</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <mat-label>Teléfono de Emergencias</mat-label>
                <input matInput [(ngModel)]="telEmergencia" >
                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>medical_services</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-3">
              <mat-form-field class="w-100">
                <mat-label>Número de Hijos</mat-label>
                <mat-select [(ngModel)]="numHijos">
                  <mat-option [value]="0">0</mat-option>
                  <mat-option [value]="1">1</mat-option>
                  <mat-option [value]="2">2</mat-option>
                  <mat-option [value]="3">3</mat-option>
                  <mat-option [value]="4">4</mat-option>
                  <mat-option [value]="5">5</mat-option>
                  <mat-option [value]="6">6</mat-option>
                  <mat-option [value]="7">7</mat-option>
                </mat-select>
                <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>face</mat-icon>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-12" style="height: 14rem;" >
              <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" class="w-100 h-100" (change)="onSelect($event)" [accept]="'image/*'" >
                <div class="d-flex justify-content-center" style="background-size: cover; width: 100%; height: 100%" *ngIf="urlFoto !== ''">
                  <img mat-card-image src="{{urlFoto}}" style="width: auto; height: 100%;">
                </div>
                <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" class=" w-100 h-100" *ngFor="let file of files" [file]="file" >


                </ngx-dropzone-image-preview>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <mat-form-field class="w-100">
            <mat-label>Dirección</mat-label>
            <input matInput [(ngModel)]="direccion">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>home</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="w-100">
            <mat-label>Estado Civil</mat-label>
            <mat-select [(ngModel)]="estadoCivil">
              <mat-option *ngFor="let estCivil of estadosCivil" [value]="estCivil.id">{{estCivil.valor}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="w-100">
            <mat-label>Tipo de Sangre</mat-label>
            <input matInput [(ngModel)]="tipoSangre" [maxLength]="10">
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>bloodtype</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>URL de la Foto</mat-label>
            <input matInput [(ngModel)]="urlFoto" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>link</mat-icon>
          </mat-form-field>
        </div>
        <h5>Lugar de Nacimiento</h5>
        <hr>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>País</mat-label>
            <input type="text" matInput [formControl]="controlPaises" [matAutocomplete]="auto5" [(ngModel)]="paisNac" >
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <span class="fi fi-{{paisNac.bandera}}" style="font-size: 20px;"></span><!--ESTO CAUSA ERROR-->
            </button>
            <mat-autocomplete #auto5="matAutocomplete" [displayWith]="displayPais" >
              <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
                <span class="fi fi-{{pais?.bandera}}"></span><!--ESTO CAUSA ERROR-->
                {{pais.valor}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Provincia</mat-label>
            <input matInput [(ngModel)]="ciudadNac">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Distrito</mat-label>
            <input matInput [(ngModel)]="lugarNac" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field color="primary" class="w-100">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input matInput [matDatepicker]="fechaNacimiento" [(ngModel)]="fechaNacimientoDate" (dateChange)="selectFechaNacimiento($event)">
            <mat-datepicker-toggle matIconSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
            <mat-datepicker #fechaNacimiento color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <h5>Trabajo</h5>
        <hr>
        <div class="col-md-3">
          <mat-form-field color="primary" class="w-100">
            <mat-label>Fecha de Ingreso</mat-label>
            <input matInput [matDatepicker]="fechaIngreso" [(ngModel)]="fechaIngresoDate" (dateChange)="selectFechaIngreso($event)">
            <mat-datepicker-toggle matIconSuffix [for]="fechaIngreso"></mat-datepicker-toggle>
            <mat-datepicker #fechaIngreso color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field color="primary" class="w-100">
            <mat-label>Fecha de Cese</mat-label>
            <input matInput [matDatepicker]="fechaCese" [(ngModel)]="fechaCeseDate" (dateChange)="selectFechaCese($event)">
            <mat-datepicker-toggle matIconSuffix [for]="fechaCese"></mat-datepicker-toggle>
            <mat-datepicker #fechaCese color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Departamento</mat-label>
            <mat-select [(ngModel)]="departamento" (selectionChange)="updateCargos(departamento)">
              <mat-option *ngFor="let dept of departamentos" [value]="dept.id">{{dept.valor}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Cargo</mat-label>
            <mat-select [(ngModel)]="cargo">
              <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">{{cargo.valor}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100">
            <mat-label>Tipo de Contrato</mat-label>
            <textarea matInput [(ngModel)]="tipoContrato"  style="min-height: 5rem;"></textarea>
          </mat-form-field>
        </div>
      </div>

    </div>
    <div class="card card-body shadow mb-3">
      <div class="row">
        <h4>Información Bancaria</h4>
        <hr>
        <h5>Cuenta Sueldo</h5><br>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>Institución Bancaria</mat-label>
            <input matInput [(ngModel)]="CSbanco" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>account_balance</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Tipo de Cuenta</mat-label>
            <mat-select [(ngModel)]="CStipoCuenta">
              <mat-option *ngFor="let tipoCuenta of tiposCuenta" [value]="tipoCuenta.id">{{tipoCuenta.valor}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Número de Cuenta</mat-label>
            <input matInput [(ngModel)]="CSnumCuenta" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>credit_card</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="w-100">
            <mat-label>Moneda</mat-label>
            <mat-select [(ngModel)]="CSmoneda">
              <mat-option [value]="tipoMoneda.id" *ngFor="let tipoMoneda of tiposMoneda">{{tipoMoneda.valor}}</mat-option>

            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>monetization_on</mat-icon>
          </mat-form-field>
        </div>
        <h5>Cuenta CTS</h5><br>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>Institución Bancaria</mat-label>
            <input matInput  [(ngModel)]="CCbanco" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>account_balance</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Tipo de Cuenta</mat-label>
            <mat-select  [(ngModel)]="CCtipoCuenta">
              <mat-option *ngFor="let tipoCuenta of tiposCuenta" [value]="tipoCuenta.id">{{tipoCuenta.valor}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Número de Cuenta</mat-label>
            <input matInput  [(ngModel)]="CCnumCuenta" >
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>credit_card</mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="w-100">
            <mat-label>Moneda</mat-label>
            <mat-select  [(ngModel)]="CCmoneda">
              <mat-option [value]="tipoMoneda.id" *ngFor="let tipoMoneda of tiposMoneda">{{tipoMoneda.valor}}</mat-option>
            </mat-select>
            <mat-icon class="material-icons-two-tone color-icon p-3" matSuffix>monetization_on</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card card-body shadow mb-3">
      <div class="row">
        <h4>ESSALUD - Derecho Habientes</h4>
        <hr>
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>

          <ng-container matColumnDef="nombre" >
          <th mat-header-cell *matHeaderCellDef class="text-center"> Nombre Completo </th>
          <td mat-cell *matCellDef="let essalud" class="text-center"> {{essalud.nameHolder}} </td>
          </ng-container>
          <ng-container matColumnDef="tipoVinculo" >
          <th mat-header-cell *matHeaderCellDef class="text-center"> Tipo de Vinculo</th>
          <td mat-cell *matCellDef="let essalud"  class="text-center">
            <div *ngIf="essalud.idFamilyBondType === 1">Conyugue</div>
            <div *ngIf="essalud.idFamilyBondType === 2">Hijo(a)</div>
            <div *ngIf="essalud.idFamilyBondType === 3">Padre</div>
            <div *ngIf="essalud.idFamilyBondType === 4">Madre</div>
            <div *ngIf="essalud.idFamilyBondType === 5">Otros</div>
           </td>
          </ng-container>
          <ng-container matColumnDef="docIdentidad" >
            <th mat-header-cell *matHeaderCellDef class="text-center"> Documento de Identidad </th>
            <td mat-cell *matCellDef="let essalud" class="text-center"> {{essalud.documentNumber}} </td>
          </ng-container>

          <ng-container matColumnDef="accion" >
            <th mat-header-cell *matHeaderCellDef class="text-center">
              <button mat-mini-fab color="primary" (click)="agregarEssalud()">
                <mat-icon class="col-white">add</mat-icon>
              </button>
            </th>
            <td mat-cell *matCellDef="let essalud" class="text-center">
              <button mat-icon-button #tooltip="matTooltip" matTooltip="Eliminar" (click)="eliminarEssalud(essalud.nameHolder,essalud.idFamilyBondType,essalud.documentNumber)" >
                <i class="fa-solid fa-trash col-red" style="font-size: 24px;"></i>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let personal; columns: columnas;"></tr>
        </table>
      </div>
    </div>
  </div>
</section>
