<div class="container" >
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="materialTableHeader mt-3">
          <div class="left">
            <ul class="header-buttons-left ms-0">
              <li class="tbl-title">
                <h5>{{titulo1}} </h5>
              </li>
              <li class="tbl-title">
                <h5>{{titulo2}} {{empresa}}</h5>
              </li>
            </ul>
          </div>
          <div class="right">
            <ul class="tbl-export-btn">
              <li class="tbl-header-btn">
                <div class="m-l-10">
                  <button class="btn bg-cyan d-flex" type="button">
                    <i class="fa-solid fa-floppy-disk" style="font-size: 20px; margin: .3rem 0 .5rem 0;"></i>
                    <div style="font-size: 20px;">&nbsp;Guardar</div>
                  </button>
                </div>
              </li>
              <li class="tbl-header-btn">
                <div class="m-l-10" >
                  <button class="btn bg-red d-flex" type="button" (click)="cerrarDialog()">
                    <i class="fa-solid fa-right-from-bracket" style="font-size: 20px; margin: .3rem 0 .5rem 0;" ></i>
                    <div style="font-size: 20px;">&nbsp;Salir</div>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="mat-elevation-z8 m-2" *ngIf="subtitulo !== ''">
          <div class="center m-2">
            <ul class="header-buttons-left ms-0">
              <li class="tbl-title">
                <h6>{{subtitulo}}</h6>
              </li>
            </ul>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-6"><div class="body mat-elevation-z8">
            <h4>Español</h4>
            <ckeditor [editor]="Editor" style="min-height: 8rem;" data=""></ckeditor>
           </div></div>
          <div class="col-md-6"><div class="body mat-elevation-z8">
            <h4>Inglés</h4>
            <ckeditor [editor]="Editor" style="height: 8rem;" data=""></ckeditor>
           </div></div>
        </div>

       <br>

      </div>


    </div>
  </div>
</div>

