<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow ">
      <div class="w-100 d-flex justify-content-between align-items-center">
        <h4>Datos Comerciales</h4>
        <div>
          <button mat-mini-fab color="warn" style="margin: 0 .5rem .5rem .5rem;" (click)="salir()" #tooltip="matTooltip" matTooltip="Volver">
            <mat-icon class="col-white">arrow_back</mat-icon>
          </button>
          <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
            <mat-icon class="col-white">save</mat-icon>
          </button>
        </div>
      </div>
      <hr>
      <div class="col-md-3">
        <mat-form-field color="primary" style="width: 100%;" >
          <mat-label >Informe Investigado el</mat-label>
          <input matInput [matDatepicker]="fecha_informe" #fechaInput [ngModel]="fechaInformeInvestigadoDate" [readonly]="true" (dateChange)="selectFechaInforme($event)">
          <mat-datepicker-toggle matIconSuffix [for]="fecha_informe"></mat-datepicker-toggle>
          <mat-datepicker #fecha_informe color="primary"></mat-datepicker>
        </mat-form-field>

      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <mat-form-field style="width: 100%;">
          <mat-label>Idioma</mat-label>
          <mat-select [(ngModel)]="idiomaInforme" (selectionChange)="selectIdioma($event.value)">
            <mat-option [value]="'ESPAÑOL'">
              <span class="fi fi-es"></span>
              ESPAÑOL
            </mat-option>
            <mat-option [value]="'INGLES'">
              <span class="fi fi-us"></span>
              INGLÉS
            </mat-option>
            <mat-option [value]="'ESPAÑOL-INGLES'">
              <span class="fi fi-us" style="background-image: url(./../../../../../../assets/images/us-es.png);"></span>
              ESPAÑOL - INGLÉS
            </mat-option>

          </mat-select>
          <button class="btn-traduccion" matSuffix mat-icon-button>
            <span class="fi fi-es" *ngIf="datosEmpresa[0].idioma === 'ESPAÑOL'"></span>
            <span class="fi fi-us" *ngIf="datosEmpresa[0].idioma === 'INGLES'"></span>
            <span class="fi fi-us" style="background-image: url(./../../../../../../assets/images/us-es.png);" *ngIf="datosEmpresa[0].idioma === 'ESPAÑOL-INGLES'"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <mat-form-field style="width: 100%;">
          <mat-label>Tipo de Institución</mat-label>
          <mat-select [(ngModel)]="datosEmpresa[0].tipoInstitucion" (selectionChange)="selectInstitucionInforme($event.value)" >
            <mat-option [value]="'PERSONA JURÍDICA'">
              PERSONA JURÍDICA
            </mat-option>
            <mat-option [value]="'PERSONA CON NEGOCIO'">
              PERSONA N. CON NEGOCIO
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Año de Fundación</mat-label>
          <input matInput placeholder="" type="number" mask="9999"  [(ngModel)]="datosEmpresa[0].yFundacion">
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].razonSocial">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre Comercial / Sigla</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].nombreComercial">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field color="primary" style="width: 100%;">
          <mat-label>Fecha de Constitución</mat-label>
          <input matInput [matDatepicker]="fecha_constitucion" #fechaInput [ngModel]="fechaConstitucionInformeDate" [readonly]="true" (dateChange)="selectFechaConstitucion($event)">
          <mat-datepicker-toggle matIconSuffix [for]="fecha_constitucion"></mat-datepicker-toggle>
          <mat-datepicker #fecha_constitucion color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <mat-label>Personería Jurídica</mat-label>
          <input type="text" matInput [formControl]="controlPersoneriaJuridica" [matAutocomplete]="auto1" [(ngModel)]="personeriaJuridicaInforme" >
          <button matSuffix mat-mini-fab color="primary" *ngIf="personeriaJuridicaInforme.description !== ''" style="background-color: rgba(0,0,0,0);" (click)="personeriaJuridicaInforme.description = ''"  #tooltip="matTooltip" matTooltip="Limpiar">
            <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
          </button>
          <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayPersoneriaJuridica">
            <mat-option *ngFor="let personeriaJuridica of filterPersoneriaJuridica | async" [value]="personeriaJuridica">
              {{personeriaJuridica.description}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <div>
          <h5>Ruc(Registro Tributario)</h5>
        </div>
        <hr>
      </div>
      <div class="col-md-5 d-flex">
        <mat-form-field class="">
          <mat-label>Tipo</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].tipoRuc">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Código</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].codigoRuc">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Situación RUC</mat-label>
          <input type="text" matInput [formControl]="controlSituacionRUC" [matAutocomplete]="auto2" [(ngModel)]="situacionRucInforme">
          <button matSuffix mat-mini-fab color="primary" *ngIf="situacionRucInforme.description !== ''" style="background-color: rgba(0,0,0,0);" (click)="situacionRucInforme.description = ''"  #tooltip="matTooltip" matTooltip="Limpiar">
            <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
          </button>
          <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displaySituacionRuc">
            <mat-option *ngFor="let situacionRUC of filterSituacionRuc | async" [value]="situacionRUC">
              {{situacionRUC.description}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!--mat-form-field style="width: 100%;">
          <mat-label>Situación RUC</mat-label>
          <mat-select [(ngModel)]="situacionRucInforme" (selectionChange)="selectSituacionRuc($event.value)">
            <mat-option *ngFor="let situacion of situacionRUC" [value]="situacion">
              {{situacion}}
            </mat-option>
          </mat-select>
        </!--mat-form-field-->
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <button mat-mini-fab class="bg-secondary" style="margin: 0 .5rem .5rem .5rem;" (click)="historicoPedidos()" #tooltip="matTooltip" matTooltip="Histórico de Pedidos">
          <mat-icon class="col-white">history</mat-icon>
        </button>
        <button mat-mini-fab color="primary" style="margin: 0 .5rem .5rem .5rem;" [class]="datosEmpresa[0].comentarioIdentificacion === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloComentarioIdentificacion,'', datosEmpresa[0].comentarioIdentificacion,datosEmpresa[0].comentarioIdentificacionIng,'comentarioIdentificacion')" #tooltip="matTooltip" matTooltip="Comentario de Identificación">
          <mat-icon class="col-white">comment</mat-icon>
        </button>
      </div>

    </div>
  </div>

  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow">
      <h4>Información de Contacto</h4>
      <div class="col-md-10">
        <mat-form-field class="example-full-width">
          <mat-label>Dirección Completa</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].direccionCompleta" >
          <mat-hint>Av., N° de Barrio, Urb., Fracc., Colonia, Dist., Prov.</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <mat-label>Duración</mat-label>
          <input matInput placeholder  [(ngModel)]="datosEmpresa[0].duracion">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Dpto. o Estado</mat-label>
          <input matInput placeholder  [(ngModel)]="datosEmpresa[0].dptoEstado">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>País</mat-label>
          <input type="text" matInput [formControl]="controlPaises" [matAutocomplete]="auto5" [(ngModel)]="datosEmpresa[0].pais" (ngModelChange)="cambiarIcono(datosEmpresa[0].pais)">
          <!--button matSuffix mat-mini-fab color="primary" *ngIf="paisInforme !== ''" style="background-color: rgba(0,0,0,0);" (click)="paisInforme = ''"  #tooltip="matTooltip" matTooltip="Limpiar">
            <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
          </!--button-->
          <button class="btn-traduccion" matSuffix mat-icon-button>
            <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
          </button>
          <mat-autocomplete #auto5="matAutocomplete" [displayWith]="displayPais" >
            <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
              <span class="fi fi-{{pais.icono}}"></span>
              {{pais.nombre}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <div class="col-md-6 d-flex">
        <mat-form-field style="width: 50%;">
          <mat-label>Código</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].codigoTelefono">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Teléfonos Fijos</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].numeroTelefono">
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="example-full-width">
          <mat-label>Teléfonos Celulares</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].numeroCelular">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="example-full-width">
          <mat-label>Cód. Postal</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].codPostal">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Whatsapp Empresarial</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].whatsappEmpresarial">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Email Corporativo</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].emailCorporativo">
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Página Web</mat-label>
          <input matInput placeholder="" [(ngModel)]="datosEmpresa[0].paginaWeb">
        </mat-form-field>
      </div>

    </div>
  </div>
  <div class="col-md-12 mb-2">
    <div class="row counter-box shadow">
      <h3>Comentarios</h3>
      <div class="col-md-8">
        <div class="col-md-12">
          <mat-form-field style="width: 100%;">
            <mat-label>Riesgo Crediticio</mat-label>
            <mat-select [(ngModel)]="datosEmpresa[0].riesgoCrediticio" (selectionChange)="selectRiesgoCrediticio($event.value)" >
              <mat-option *ngFor="let cCrediticia of calificacionCrediticia" [value]="cCrediticia">
                {{cCrediticia}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field style="width: 100%;">
            <mat-label>Política de Pagos</mat-label>
            <mat-select [(ngModel)]="datosEmpresa[0].politicaPagos" (selectionChange)="selectPoliticaPagos($event.value)">
              <mat-option *ngFor="let pPagos of politicaPagos" [value]="pPagos">
                {{pPagos}}
              </mat-option>
            </mat-select>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <div class="circle" style="background-color: {{colorPoliticaPagos}}"></div>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field style="width: 100%;">
            <mat-label>Reputación</mat-label>
            <mat-select [(ngModel)]="datosEmpresa[0].reputacion" (selectionChange)="selectReputacion($event)">
              <mat-option *ngFor="let reputacion of reputaciones" [value]="reputacion">
                {{reputacion.description}}
              </mat-option>
            </mat-select>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <div class="circle" style="background-color: {{colorReputacion}}"></div>
            </button>
          </mat-form-field>

        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 d-flex justify-content-center">
          <div class=" shadow" style="background-color: rgba(0,0,0,0.2); border-radius: 10px;">
            <ngx-gauge [size]="300"
            type="arch"
            [thick]="15"
            [duration]="1000"
            [value]="gaugeRiesgoCrediticio"
            [min]="0"
            [max]="600"
            [animate]="true"
            cap="round"
            label="{{descripcionRiesgoCrediticio}}"
            foregroundColor="{{colorRiesgoCrediticio}}"
            backgroundColor=" rgba(0, 0, 0, 0.5)"
            class="p-0 m-0">
            <ngx-gauge-value>
              {{ calificacionRiesgoCrediticio }}
            </ngx-gauge-value>
          </ngx-gauge>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width mt-2" >
          <mat-label>Comentario de Reputación</mat-label>
          <textarea matInput type="text" [(ngModel)]="datosEmpresa[0].comentarioReputacion" style="min-height: 8rem;"></textarea>
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="datosEmpresa[0].comentarioReputacionIng === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloComentarioReputacion,'', datosEmpresa[0].comentarioReputacion,datosEmpresa[0].comentarioReputacionIng,'comentarioReputacion')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width mt-2" >
          <mat-label>Comentario de Prensa</mat-label>
          <textarea matInput type="text" [(ngModel)]="datosEmpresa[0].comentarioPrensa" style="min-height: 8rem;"></textarea>
          <button class="btn-traduccion" matSuffix mat-icon-button [class]="datosEmpresa[0].comentarioPrensaIng === '' ? 'sin-traduccion' : ''" (click)="agregarComentario(tituloComentarioPrensa,'', datosEmpresa[0].comentarioPrensa,datosEmpresa[0].comentarioPrensaIng,'comentarioPrensa')">
            <span class="fi fi-us" style="font-size: 24px;"></span>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
