<div class="container"  >
  <div class="row "  >
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="materialTableHeader mt-3">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h5 style="font-size: 30px;">{{titulo}}</h5>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button mat-icon-button  class="btn bg-red " (click)="volver()" #tooltip="matTooltip" matTooltip="Volver">
                      <mat-icon>logout</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" >
                    <button mat-icon-button  class="btn btn-primary" (click)="guardar()"  #tooltip="matTooltip" matTooltip="Guardar">
                      <mat-icon>save</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <mat-dialog-content class="mat-typography m-0 p-0">
          <div class="body">
            <div class="row m-0 p-0">
              <h5 style="font-size: 20px;">Datos de la Morosidad Comercial</h5>

              <div class="col-md-6 m-0">
                <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                  <mat-label>Acreedor o Proveedor</mat-label>
                  <input matInput [(ngModel)]="creditorOrSupplier">
                </mat-form-field>
              </div>
              <div class="col-md-3 m-0">
                <mat-form-field class="w-100" >
                  <mat-label>Tipo de Documento</mat-label>
                  <mat-select [(ngModel)]="documentType">
                    <mat-option  [value]="''">
                    </mat-option>
                    <mat-option  [value]="'Letra Protestada'">
                      Letra Protestada
                    </mat-option>
                    <mat-option  [value]="'Pagaré Protestado'">
                      Pagaré Protestado
                    </mat-option>
                    <mat-option  [value]="'Cheque Devuelto'">
                      Cheque Devuelto
                    </mat-option>
                    <mat-option  [value]="'Factura(s) Impaga(s)'">
                      Factura(s) Impaga(s)
                    </mat-option>
                    <mat-option  [value]="'Recibo(s) Impago(s)'">
                      Recibo(s) Impago(s)
                    </mat-option>
                    <mat-option  [value]="'Warrant'">
                      Warrant
                    </mat-option>
                    <mat-option  [value]="'Cuota(s) Impaga(s)'">
                      Cuota(s) Impaga(s)
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3 m-0">
                <mat-form-field color="primary" class="w-100" >
                  <mat-label>Fecha</mat-label>
                  <input matInput [matDatepicker]="fecha" [ngModel]="dateD" (dateChange)="selectFecha1($event)">
                  <mat-datepicker-toggle matIconSuffix [for]="fecha"></mat-datepicker-toggle>
                  <mat-datepicker #fecha color="primary"></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="col-md-3 m-0">
                <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                  <mat-label>Monto en Moneda Nacional</mat-label>
                  <input matInput [(ngModel)]="amountNc" type="number">
                </mat-form-field>
              </div>
              <div class="col-md-3 m-0">
                <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                  <mat-label>Monto en Moneda Extranjera</mat-label>
                  <input matInput [(ngModel)]="amountFc" type="number">
                </mat-form-field>
              </div>
              <div class="col-md-3 m-0">
                <mat-form-field color="primary" class="w-100" >
                  <mat-label>Fecha de Pago Pendiente</mat-label>
                  <input matInput [matDatepicker]="fecha_pago" [ngModel]="pendingPaymentDateD" (dateChange)="selectFecha2($event)">
                  <mat-datepicker-toggle matIconSuffix [for]="fecha_pago"></mat-datepicker-toggle>
                  <mat-datepicker #fecha_pago color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-2 m-0">
                <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                  <mat-label>Días de Atraso</mat-label>
                  <input matInput [(ngModel)]="daysLate" type="number">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
