<div class="container m-0 p-0">
  <mat-dialog-content class="m-0 p-0" style="min-width: 70rem; min-height: 50rem; overflow: auto;">
    <div class="row m-0 p-0"  >
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="materialTableHeader mt-3">
              <div class="left">
                <ul class="header-buttons-left ms-0">
                  <li class="tbl-title">
                    <h5 style="font-size: 30px;">Seleccionar Calidad del Informe</h5>
                  </li>
                </ul>
              </div>
              <div class="right">
                <ul class="tbl-export-btn">
                  <li class="tbl-header-btn">
                    <div class="m-l-10">
                      <button mat-icon-button  class="btn bg-red " (click)="volver()" #tooltip="matTooltip" matTooltip="Volver">
                        <mat-icon>logout</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="body">
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>
