<div class="container" style="max-width: 50rem;" >
  <div class="row m-0 p-0"  >
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="materialTableHeader mt-3">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h5 style="font-size: 24px;">Consultar Cupón</h5>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button mat-icon-button  class="btn bg-red "  (click)="salir()" #tooltip="matTooltip" matTooltip="Volver">
                      <mat-icon>logout</mat-icon>
                    </button>
                  </div>
                </li>
                <li *ngIf="canWork && canSend" class="tbl-header-btn">
                  <div class="m-l-10" >
                    <button mat-icon-button  class="btn btn-primary" (click)="guardar()"  #tooltip="matTooltip" matTooltip="Enviar">
                      <mat-icon>mail</mat-icon>
                    </button>
                  </div>
                </li>
                <li *ngIf="canWork && canCheck" class="tbl-header-btn">
                  <div class="m-l-10" >
                    <button mat-icon-button  class="btn bg-green" (click)="guardar()"  #tooltip="matTooltip" matTooltip="Consulta resuelta">
                      <mat-icon style="color: white;">check</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <mat-dialog-content class="mat-typography p-0 m-0">
          <div class="body m-0 p-0">
            <div class="row p-0 m-0 pt-3">
              <div class="col-md-4 m-0">
                <mat-form-field color="primary" style="width: 100%;" >
                  <mat-label >Fecha de Consulta</mat-label>
                  <input  [(ngModel)]="dateQuery" matInput [matDatepicker]="fecha_ingreso_abonado" >
                  <mat-datepicker-toggle matIconSuffix [for]="fecha_ingreso_abonado"></mat-datepicker-toggle>
                  <mat-datepicker #fecha_ingreso_abonado color="primary"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-md-4 d-flex justify-content-center">
                <mat-form-field style="width: 100%;">
                  <mat-label>Idioma</mat-label>
                  <mat-select [(ngModel)]="language" (selectionChange)="selectIdioma($event.value)">
                    <mat-option [value]="'E'">
                      <span class="fi fi-es"></span>
                      ESPAÑOL
                    </mat-option>
                    <mat-option [value]="'I'">
                      <span class="fi fi-us"></span>
                      INGLÉS
                    </mat-option>                   
                  </mat-select>
                  <button class="btn-traduccion" matSuffix mat-icon-button>
                    <span class="fi fi-es" *ngIf="language === 'E'"></span>
                    <span class="fi fi-us" *ngIf="language  === 'I'"></span>
                    
                  </button>
                </mat-form-field>
              </div>
              <div class="col-md-4 m-0">
                <mat-form-field color="primary" style="width: 100%;" >
                  <mat-label >Abonado</mat-label>
                  <input [(ngModel)]="subscriber" type="text" matInput >
                </mat-form-field>
              </div>
              <div class="col-md-12 m-0">
                <mat-form-field color="primary" style="width: 100%;" >
                  <mat-label >Correo</mat-label>
                  <input [(ngModel)]="email" type="text" matInput >
                </mat-form-field>
              </div>
              <div class="col-md-12 m-0">
                <mat-form-field color="primary" style="width: 100%;" >
                  <mat-label >Informe</mat-label>
                  <input [(ngModel)]="report" type="text" matInput >
                </mat-form-field>
              </div>
              <div class="col-md-12 m-0">
                <mat-form-field color="primary" style="width: 100%;" >
                  <mat-label >Mensaje</mat-label>
                  <textarea [(ngModel)]="message" type="text" matInput  style="min-height: 8rem;"></textarea>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
