mat-form-field{

  mat-label{

  }
  input{
    border-bottom: 3px solid rgb(200, 233, 200);

  }
  input:read-only{
    border-bottom: 3px solid rgb(163, 163, 247);

  }
  mat-select{
    border-bottom: 3px solid rgb(200, 233, 200);
  }
  textarea{
    border-bottom: 3px solid rgb(200, 233, 200);
  }
}

.btn-disabled{
  
}
