<div class="row " style="margin: 0 0 2rem 0; padding: 0 0 2rem 0;">
    <div class="col-md-12 mb-2">
      <div class="row counter-box shadow ">
        <div class="w-100 d-flex justify-content-between align-items-center">
          <h4>Datos Comerciales</h4>
          <div>
            <button mat-mini-fab color="warn" style="margin: 0 .5rem .5rem .5rem;" #tooltip="matTooltip" matTooltip="Volver">
              <mat-icon class="col-white">arrow_back</mat-icon>
            </button>
            <button mat-mini-fab class="bg-cyan" style="margin: 0 .5rem .5rem .5rem;" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
              <mat-icon class="col-white">save</mat-icon>
            </button>
          </div>
        </div>
        <hr>
        <div class="col-md-3">
          <mat-form-field color="primary" style="width: 100%;" >
            <mat-label >Informe Investigado el</mat-label>
            <input matInput [matDatepicker]="fecha__investigado_informe" #fechaInput [ngModel]="" [readonly]="true" (dateChange)="selectFechaInforme($event)">
            <mat-datepicker-toggle matIconSuffix [for]="fecha__investigado_informe"></mat-datepicker-toggle>
            <mat-datepicker #fecha__investigado_informe color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
          <mat-form-field style="width: 100%;">
            <mat-label>Idioma</mat-label>
            <mat-select [(ngModel)]="idiomaInforme" (selectionChange)="selectIdioma($event.value)">
              <mat-option [value]="'ESPAÑOL'">
                <span class="fi fi-es"></span>
                ESPAÑOL
              </mat-option>
              <mat-option [value]="'INGLES'">
                <span class="fi fi-us"></span>
                INGLÉS
              </mat-option>
              <mat-option [value]="'ESPAÑOL-INGLES'">
                <span class="fi fi-us" style="background-image: url(./../../../../../../assets/images/us-es.png);"></span>
                ESPAÑOL - INGLÉS
              </mat-option>

            </mat-select>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <span class="fi fi-es" *ngIf="idiomaInforme === 'ESPAÑOL'"></span>
              <span class="fi fi-us" *ngIf="idiomaInforme === 'INGLES'"></span>
              <span class="fi fi-us" style="background-image: url(./../../../../../../assets/images/us-es.png);" *ngIf="idiomaInforme === 'ESPAÑOL-INGLES'"></span>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-3 d-flex justify-content-center">
          <mat-form-field style="width: 100%;">
            <mat-label>Situación</mat-label>
            <mat-select [(ngModel)]="tipoIntitucionInforme" (selectionChange)="selectInstitucionInforme($event.value)" >
              <mat-option [value]="''">
              </mat-option>
              <mat-option [value]="'1.- Habido'">
                1.- Habido
              </mat-option>
              <mat-option [value]="'2.- Fallecido'">
                2.- Fallecido
              </mat-option>
              <mat-option [value]="'3.- No Habido'">
                3.- No Habido
              </mat-option>
              <mat-option [value]="'4.- No Habido (Se mudó)'">
                4.- No Habido (Se mudó)
              </mat-option>
              <mat-option [value]="'5.- Por Verificar'">
                5.- Por Verificar
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field color="primary" style="width: 100%;" >
            <mat-label >Fecha</mat-label>
            <input matInput [matDatepicker]="fecha_informe" #fechaInput [ngModel]="" [readonly]="true" (dateChange)="selectFechaInforme($event)">
            <mat-datepicker-toggle matIconSuffix [for]="fecha_informe"></mat-datepicker-toggle>
            <mat-datepicker #fecha_informe color="primary"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field class="example-full-width">
            <mat-label>Apellidos y Nombres</mat-label>
            <input matInput placeholder="" [(ngModel)]="apellidosNombresInforme">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Nacionalidad</mat-label>
            <input matInput placeholder="" [(ngModel)]="nacionalidadInforme">
          </mat-form-field>
        </div>
        <div class="col-md-8">
          <mat-form-field class="example-full-width">
            <mat-label>Nacido El</mat-label>
            <input matInput placeholder="" [(ngModel)]="nacidoElInforme">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>En</mat-label>
            <input matInput placeholder="" [(ngModel)]="nacidoEnInforme">
          </mat-form-field>
        </div>
        <div class="col-md-6 d-flex">
          <mat-form-field class="">
            <mat-label>Tipo de Doc.</mat-label>
            <input matInput placeholder="" [(ngModel)]="tipoDocumentoInforme">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Código de Documento</mat-label>
            <input matInput placeholder="" [(ngModel)]="codigoDocumentoInforme">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Registro Tributario (RUC)</mat-label>
            <input matInput placeholder="" [(ngModel)]="registroTributarioInforme">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>Situación</mat-label>
            <input matInput placeholder="" [(ngModel)]="situacionInforme">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-2">
      <div class="row counter-box shadow ">
        <h4>Información de Contacto</h4>
        <hr>
        <div class="col-md-8">
          <mat-form-field class="w-100">
            <mat-label>Dirección Completa</mat-label>
            <input matInput placeholder="" [(ngModel)]="direccionCompletaInforme">
            <mat-hint>Domicilio, Distrito, Ciudad, Prov.</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="w-100">
            <mat-label>C.P.</mat-label>
            <input matInput placeholder="" [(ngModel)]="CPInforme">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100">
            <mat-label>Dpto. / Estado</mat-label>
            <input matInput placeholder="" [(ngModel)]="DptoEstadoInforme">
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Otras Direcciones Ubicadas</mat-label>
            <textarea matInput placeholder="" [(ngModel)]="otrasDireccionesInforme"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Nombre Comercial</mat-label>
            <textarea matInput placeholder="" [(ngModel)]="nombreComercialInforme"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field class="example-full-width">
            <mat-label>País</mat-label>
            <mat-select [(ngModel)]="paisInforme" (selectionChange)="actualizarSeleccionPais($event.value)">
              <mat-option *ngFor="let pais of paises" [value]="pais.id">
                <span class="fi fi-{{pais.icono}}"></span>
                {{pais.nombre}}
              </mat-option>
            </mat-select>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-7 d-flex">
          <mat-form-field class="">
            <mat-label>Código</mat-label>
            <input matInput placeholder="" [(ngModel)]="codigoTelefonoInforme">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Telefono</mat-label>
            <input matInput placeholder="" [(ngModel)]="telefonoInforme">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="col-md-12 mb-2">
      <div class="row counter-box shadow">
        <h4></h4>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-label>Estado Civil </mat-label>
            <input matInput placeholder="" [(ngModel)]="estadoCivilInforme" >
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-label>Con</mat-label>
            <input matInput placeholder  [(ngModel)]="relacionCivilConInforme">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="w-100">
            <mat-label>DNI</mat-label>
            <input matInput placeholder="" [(ngModel)]="dniInforme">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="example-full-width">
            <mat-label>Celular</mat-label>
            <input matInput placeholder="" [(ngModel)]="celularInforme">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Nombre del Padre</mat-label>
            <input matInput placeholder="" [(ngModel)]="nombrePadreInforme">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="w-100">
            <mat-label>Nombre de la Madre</mat-label>
            <input matInput placeholder="" [(ngModel)]="nombreMadreInforme">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Profesión</mat-label>
            <input matInput placeholder="" [(ngModel)]="profesionInforme">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Socio de Club</mat-label>
            <input matInput placeholder="" [(ngModel)]="socioClubInforme">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" [(ngModel)]="emailInforme">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width">
            <mat-label>Seguros</mat-label>
            <input matInput placeholder="" [(ngModel)]="segurosInforme">
          </mat-form-field>
        </div>

      </div>
    </div>
    <div class="col-md-12 mb-2">
      <div class="row counter-box shadow">
        <h4>Comentarios y Reputación</h4>
        <hr>
        <div class="col-md-6">
          <div class="col-md-12">
            <mat-form-field style="width: 100%;">
              <mat-label>Riesgo Crediticio</mat-label>
              <mat-select [(ngModel)]="riesgoCrediticioInforme" (selectionChange)="selectRiesgoCrediticio($event.value)" >
                <mat-option *ngFor="let cCrediticia of calificacionCrediticia" [value]="cCrediticia">
                  {{cCrediticia}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field style="width: 100%;">
              <mat-label>Política de Pagos</mat-label>
              <mat-select [(ngModel)]="politicaPagosInforme" (selectionChange)="selectPoliticaPagos($event.value)">
                <mat-option *ngFor="let pPagos of politicaPagos" [value]="pPagos">
                  {{pPagos}}
                </mat-option>
              </mat-select>
              <button class="btn-traduccion" matSuffix mat-icon-button>
                <div class="circle" style="background-color: {{colorPoliticaPagos}};"></div>
              </button>
            </mat-form-field>
          </div>
          <div class="col-md-12">
            <mat-form-field style="width: 100%;">
              <mat-label>Reputación</mat-label>
              <mat-select [(ngModel)]="reputacionInforme" (selectionChange)="selectReputacion($event)">
                <mat-option *ngFor="let reputacion of reputaciones" [value]="reputacion">
                  {{reputacion.description}}
                </mat-option>
              </mat-select>
              <button class="btn-traduccion" matSuffix mat-icon-button>
                <div class="circle" style="background-color: {{colorReputacion}};"></div>
              </button>
            </mat-form-field>

          </div>
        </div>
        <div class="col-md-6">
          <div class="col-md-12 d-flex justify-content-center">
            <ngx-gauge [size]="300"
              type="arch"
              [thick]="15"
              [duration]="1000"
              [value]="gaugeRiesgoCrediticio"
              [min]="0"
              [max]="600"
              [animate]="true"
              cap="round"
              label="{{descripcionRiesgoCrediticio}}"
              foregroundColor="{{colorRiesgoCrediticio}}"
              backgroundColor=" rgba(0, 0, 0, 0.5)"
              class="p-0 m-0">
              <ngx-gauge-value>
                {{ calificacionRiesgoCrediticio }}
              </ngx-gauge-value>
            </ngx-gauge>
          </div>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width mt-2" *ngIf="booleanExplicarDatosMalaReputacion">
            <mat-label>Explicar Datos de Mala Reputación</mat-label>
            <textarea matInput type="text" [(ngModel)]="comentarioPrensaInforme" style="min-height: 8rem;"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario(tituloComentarioPrensa,'', 'español','ingles')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width mt-2">
            <mat-label>Comentarios Diversos / Prensa</mat-label>
            <textarea matInput type="text" [(ngModel)]="comentarioPrensaInforme" style="min-height: 8rem;"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario(tituloComentarioPrensa,'', 'español','ingles')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="example-full-width mt-2">
            <mat-label>Comentario Privado (No se Imprime)</mat-label>
            <textarea matInput type="text" [(ngModel)]="comentarioPrensaInforme" style="min-height: 8rem;"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button (click)="agregarComentario(tituloComentarioPrensa,'', 'español','ingles')">
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
