mat-form-field{
  .mdc-text-field {
    background-color: red!important;
  }
  mat-label{

  }
  input{
    border-bottom: 3px solid rgb(200, 233, 200);

  }
  input:read-only{
    border-bottom: 3px solid rgb(163, 163, 247);

  }
  mat-select{
    border-bottom: 3px solid rgb(200, 233, 200);
  }
  textarea{
    border-bottom: 3px solid rgb(200, 233, 200);
  }

}
.circle {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.btn-traduccion{
  background-color: rgba(0,0,0,0);
  border: 0px solid white;
}
.sin-traduccion{
  filter: contrast(.3);
}
