<div class="container">
  <div class="row p-3 ">
    <div class="card">
      <div class="materialTableHeader mt-3" >
        <div class="left">
          <ul class="header-buttons-left ms-0">
            <li class="tbl-title">
              <h3>{{titulo}}</h3>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="tbl-export-btn">
            <li class="tbl-header-btn">
            <div class="m-l-10" >
              <button class="btn bg-red d-flex"  type="button" (click)="cerrarDialog()">
                <i class="fa-solid fa-right-from-bracket" style="font-size: 16px; margin-top: .2rem;"></i>
                <div style="font-size: 16px;">&nbsp;Salir</div>
              </button>
            </div>
          </li>
            <li class="tbl-header-btn" *ngIf="accion === 'AGREGAR'">
              <div class="m-l-10" >
                <button class="btn btn-primary d-flex"  type="button" (click)="agregarEditar(anio, monto)">
                  <i class="fa-solid fa-square-plus" style="font-size: 16px; margin-top: .2rem;"></i>
                  <div style="font-size: 16px;">&nbsp;Agregar</div>
                </button>
              </div>
            </li>
            <li class="tbl-header-btn" *ngIf="accion === 'EDITAR'" (click)="agregarEditar(anio, monto)">
              <div class="m-l-10" >
                <button class="btn btn-primary d-flex"  type="button">
                  <i class="fa-solid fa-square-plus" style="font-size: 16px; margin-top: .2rem;"></i>
                  <div style="font-size: 16px;">&nbsp;Editar</div>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8 pt-3">
      <div class="row">
        <div class="col-md-4"><mat-form-field class="example-full-width">
          <mat-label>Año</mat-label>
          <input matInput placeholder="" value="" [(ngModel)]="anio">
        </mat-form-field></div>
        <div class="col-md-8"><mat-form-field class="example-full-width">
          <mat-label>Monto</mat-label>
          <input matInput placeholder="" value="" [(ngModel)]="monto">
        </mat-form-field></div>
      </div>
    </div>
  </div>
</div>
