<div class="container" style="max-width: 30rem;">
  <div class="row p-3 ">
    <div class="card">
      <div class="materialTableHeader mt-3" >
        <div class="left">
          <ul class="header-buttons-left ms-0">
            <li class="tbl-title">
              <h3>{{titulo}}</h3>
            </li>
          </ul>
        </div>
        <div class="right">
          <ul class="tbl-export-btn">
            <li class="tbl-header-btn">
              <div class="m-l-10" >
                <button mat-mini-fab color="warn" style="margin: .5rem .5rem .5rem .5rem;" (click)="cerrarDialog()" #tooltip="matTooltip" matTooltip="Volver">
                  <mat-icon class="col-white">arrow_back</mat-icon>
                </button>
                <button mat-mini-fab class="bg-cyan" style="margin: .5rem .5rem .5rem .5rem;" (click)="guardar()" #tooltip="matTooltip" matTooltip="Guardar">
                  <mat-icon class="col-white">save</mat-icon>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="pt-3">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="w-100">
            <mat-label>Año</mat-label>
            <input matInput placeholder="" value="" [(ngModel)]="year">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field class="w-100">
            <mat-label>Monto</mat-label>
            <input matInput placeholder="" value="" [(ngModel)]="amount">
          </mat-form-field>
        </div>
        <h4>Observaciones</h4>
        <hr>
        <div class="col-md-12 mb-3">
          <mat-form-field class="w-100">
            <mat-label>(Español)</mat-label>
            <textarea matInput placeholder="" style="min-height: 6rem;" [(ngModel)]="observation"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <span class="fi fi-es" style="font-size: 24px; "></span>
            </button>
          </mat-form-field>
        </div>
        <div class="col-md-12 mb-3">
          <mat-form-field class="w-100">
            <mat-label>(Inglés)</mat-label>
            <textarea matInput placeholder=""  style="min-height: 6rem;" [(ngModel)]="observationEng"></textarea>
            <button class="btn-traduccion" matSuffix mat-icon-button>
              <span class="fi fi-us" style="font-size: 24px;"></span>
            </button>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>
