<div>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar"  (mouseenter)="mouseHover()" (mouseleave)="mouseOut()">
    <!-- Menu -->
    <div class="menu">
      <ng-scrollbar [style.height]="listMaxHeight + 'px'" visibility="hover">
        <ul id="sidebarnav" class="list">
          <li class="sidebar-user-panel">
            <div class="user-panel">
              <div class=" image">
                <img src="assets/images/usrbig.jpg" class="img-circle user-img-circle" alt="User Image" />
              </div>
            </div>
            <div class="profile-usertitle">
              <div class="sidebar-userpic-name"> Emily Smith </div>
              <div class="profile-usertitle-job ">{{'MENUITEMS.USER.POST' | translate}} </div>
            </div>
          </li>
          <!-- Top Most level menu -->

          <!-- GERENCIA -->
          <ul class="menu-toggle">
            <li [routerLinkActive]="'active'">
              <a (click)="callToggleMenu($event,1)" [ngClass]="'menu-toggle d-flex'">
                <i-feather [name]="'monitor'" class="sidebarIcon"></i-feather>
                <div id="gerencia">-- GERENCIA</div>

              </a>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 1 ? 'active' : ''">
                  <a [routerLink]="'dashboard/main'" [ngClass]="''" class="ml-menu" (click)="activeLI = 1">
                    <i class="fa-solid fa-chart-column"></i>&nbsp;
                    <span class="hide-menu">Reportes Gerenciales 1
                    </span>
                  </a>
                </li>
                <li [routerLinkActive]="''" [ngClass]="activeLI === 2 ? 'active' : ''">
                  <a [routerLink]="'dashboard/dashboard2'" [ngClass]="''" class="ml-menu" (click)="activeLI = 2">
                    <i class="fa-solid fa-chart-column"></i>&nbsp;
                    <span class="hide-menu">Reportes Gerenciales 2
                    </span>
                  </a>
                </li>
                <li [routerLinkActive]="''" [ngClass]="activeLI === 3 ? 'active' : ''">
                  <a [routerLink]="'dashboard/dashboard3'" [ngClass]="''" class="ml-menu" (click)="activeLI = 3">
                    <i class="fa-solid fa-chart-column"></i>&nbsp;
                    <span class="hide-menu">Reportes Gerenciales 3
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <!-- PRODUCCION -->
          <ul class="menu-toggle">
            <li [routerLinkActive]="'active'">
              <a (click)="callToggleMenu($event,1)" [ngClass]="'menu-toggle d-flex'" >
                <i-feather [name]="'clipboard'" class="sidebarIcon" ></i-feather>
                <div id="produccion">-- PRODUCCIÓN</div>
              </a>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 4 ? 'active' : ''">
                  <a [routerLink]="'/situacion/lista'" class="" (click)="activeLI = 4">
                    <i class="fa-solid fa-sitemap"></i>
                    <span class="hide-menu">Situación
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 5 ? 'active' : ''">
                  <a [routerLink]="'/despacho/lista'" [ngClass]="''" class="" (click)="activeLI = 5">
                    <i class="fa-regular fa-paper-plane"></i>
                  <span class="hide-menu">Despacho
                  </span>
                </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 6 ? 'active' : ''">
                  <a [routerLink]="'/pedidos/lista'" class="" (click)="activeLI = 6">
                    <i class="fa-solid fa-receipt"></i>&nbsp;
                    <span class="hide-menu">Pedidos
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 7 ? 'active' : ''">
                  <a [routerLink]="'/informes/empresa/lista'" class="" (click)="activeLI = 7">
                    <i class="fa-solid fa-building"></i>&nbsp;
                    <span class="hide-menu">Empresas
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 8 ? 'active' : ''">
                  <a [routerLink]="'/informes/persona/detalle'" class="" (click)="activeLI = 8">
                    <i class="fa-solid fa-user-tie"></i>&nbsp;
                    <span class="hide-menu">Personas
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 9 ? 'active' : ''">
                  <a [routerLink]="" class="" (click)="activeLI = 9">
                    <span class="hide-menu">Plantillas
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <!--ADMINISTRACION-->
          <ul class="menu-toggle">
            <li [routerLinkActive]="'active'" >
              <a (click)="callToggleMenu($event,1)" [ngClass]="'menu-toggle d-flex'" >
                <i-feather [name]="'sliders'" class="sidebarIcon"></i-feather>
                <div id="administracion">-- ADMINISTRACIÓN</div>
              </a>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 10 ? 'active' : ''">
                  <a [routerLink]="" [ngClass]="''" class="" (click)="activeLI = 10">
                    <i class="fa-solid fa-file-invoice-dollar"></i>&nbsp;
              <span class="hide-menu">Facturación
              </span>
                  </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 11 ? 'active' : ''">
                  <a [routerLink]=""  class="" (click)="activeLI = 11" >
                    <i class="fa-solid fa-chart-column"></i>&nbsp;
                    <span class="hide-menu">Reportes
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 12 ? 'active' : ''">
                  <a [ngClass]="''" class="" (click)="activeLI = 12; goTo(activeLI)">
                    <i class="fa-solid fa-sliders"></i>&nbsp;
                    <span class="hide-menu">Mantenimiento
                    </span>
                  </a>
                </li>
              </ul>
              <ul class="ml-menu">
                <li [routerLinkActive]="''" [ngClass]="activeLI === 13 ? 'active' : ''">
                  <a [routerLink]="" [ngClass]="''" class="" (click)="activeLI = 13">
                    <i class="fa-solid fa-ticket"></i>&nbsp;
                    <span class="hide-menu">Cupones
                    </span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>



          <!--li-- *ngFor="let sidebarItem of sidebarItems"
            [routerLinkActive]="sidebarItem.submenu.length !== 0 ? 'active' : 'active-top'">
            <div class="header" *ngIf="sidebarItem.groupTitle === true">{{sidebarItem.title | translate}}</div>
            <a [routerLink]="sidebarItem.class === '' ? [sidebarItem.path] : null" *ngIf="!sidebarItem.groupTitle;"
              [ngClass]="[sidebarItem.class]" (click)="callToggleMenu($event, sidebarItem.submenu.length)"
              class="menu-top">
              <i class="{{sidebarItem.icon}}"></i>&nbsp;
              <span class="hide-menu">{{sidebarItem.title | translate}}
              </span>
            </a>
            <ul class="ml-menu" *ngIf="sidebarItem.submenu.length > 0">
              <li *ngFor="let sidebarSubItem1 of sidebarItem.submenu"
                [routerLinkActive]="sidebarSubItem1.submenu.length > 0 ? '' : 'active'">
                <a [routerLink]="sidebarSubItem1.submenu.length > 0 ? null : [sidebarSubItem1.path]"
                  (click)="callToggleMenu($event,sidebarSubItem1.submenu.length)" [ngClass]="[sidebarSubItem1.class]">
                  {{sidebarSubItem1.title | translate}}
                </a>
                <ul class="ml-menu-2" *ngIf="sidebarSubItem1.submenu.length > 0">
                  <li *ngFor="let sidebarSubItem2 of sidebarSubItem1.submenu"
                    [routerLinkActive]="sidebarSubItem2.submenu.length > 0 ? '' : 'active'">
                    <a [routerLink]="sidebarSubItem2.submenu.length > 0 ? null : [sidebarSubItem2.path]"
                      (click)="callToggleMenu($event,sidebarSubItem2.submenu.length)"
                      [ngClass]="[sidebarSubItem2.class]">
                      {{sidebarSubItem2.title | translate}}
                    </a>
                    <ul class="ml-menu-3" *ngIf="sidebarSubItem2.submenu.length > 0">
                      <li *ngFor="let sidebarSubItem3 of sidebarSubItem2.submenu"
                        [routerLinkActive]="sidebarSubItem3.submenu.length > 0 ? '' : 'active'">
                        <a [routerLink]="sidebarSubItem3.submenu.length > 0 ? null : [sidebarSubItem3.path]"
                          (click)="callToggleMenu($event,sidebarSubItem3.submenu.length)"
                          [ngClass]="[sidebarSubItem3.class]">
                          {{sidebarSubItem3.title | translate}}
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </!--li-->
        </ul>
      </ng-scrollbar>
    </div>
    <!-- #Menu -->
  </aside>
  <!-- #END# Left Sidebar -->
</div>
