<div class="container" style=" width: 70rem; padding: 1rem;">
</div>
    <h2>Buscar {{ titulo }}</h2>
    <hr>
    <div class="row m-0 p-0">
      <div class="col-md-6" >
        <mat-form-field class="w-100" style="margin-left: 1rem;">
          <mat-label>Empresa o Persona</mat-label>
          <input matInput placeholder="" value="" #filter >
        </mat-form-field>
      </div>
      <div class="col-md-6" style="padding-top: .5rem;">
        <mat-radio-group [(ngModel)]="mostrarEmpresas" aria-label="Filtrar Por" style="font-size: 20px; margin-right: 1rem;margin-left: 1rem;">
          Filtrar Por
          <mat-radio-button [value]="true">Empresas</mat-radio-button>
          <mat-radio-button [value]="false">Personas</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <hr>
    <div class="container" style=" width: 75rem; overflow-x: auto;">
      <div class="row p-3">
        <div class="col-md-12">
          <mat-table [dataSource]="dataSourceEmpresa" multiTemplateDataRows class="mat-elevation-z8 ">
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef class="text-center"> Seleccionar</mat-header-cell>
              <mat-cell *matCellDef="let data" class="text-center" >
                <mat-radio-button class="example-radio-button" [value]="data.codigoInforme" (click)="seleccionarCodigoEmpresa(data)">
                </mat-radio-button>

              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombreBuscado">
              <mat-header-cell *matHeaderCellDef class="text-center"> Razón Social</mat-header-cell>
              <mat-cell *matCellDef="let empresa" class="text-center">{{ empresa.razonSocial }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="nombreSolicitado">
              <mat-header-cell *matHeaderCellDef class="text-center"> Nombre Solicitado</mat-header-cell>
              <mat-cell *matCellDef="let empresa" class="text-center">{{ empresa.nombreSolicitado }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="pais">
              <mat-header-cell *matHeaderCellDef class="text-center"> País</mat-header-cell>
              <mat-cell *matCellDef="let empresa" class="text-center">
                {{ empresa.pais.valor }} &nbsp;
                <span class="fi fi-{{empresa.pais.bandera}}" style="font-size: 20px;"></span>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="ruc">
              <mat-header-cell *matHeaderCellDef class="text-center"> Registro Tributario</mat-header-cell>
              <mat-cell *matCellDef="let empresa" class="text-center">{{ empresa.tipoRuc }} - {{empresa.codigoRuc}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaInvestigacion">
              <mat-header-cell *matHeaderCellDef class="text-center"> Fecha Inv.</mat-header-cell>
              <mat-cell *matCellDef="let empresa" class="text-center">{{ empresa.informeInvestigadoEl }}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="fechaConstitucion">
              <mat-header-cell *matHeaderCellDef class="text-center"> Fecha Constitución</mat-header-cell>
              <mat-cell *matCellDef="let empresa" class="text-center">{{ empresa.fechaConstitucion }}</mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="columnsToDisplayEmpresa"></mat-header-row>
            <mat-row *matRowDef="let rowData; columns: columnsToDisplayEmpresa;" ></mat-row>
          </mat-table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25]" aria-label="Seleccionar página de Empresas/Personas"></mat-paginator>
        </div>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end p-3">
      <button class="btn bg-cyan btn-lg btn-block waves-effect" type="button" (click)="realizarEnvioCodigo()">
        Seleccionar
      </button>
</div>
