<div class="container"  >
  <div class="row m-0 p-0"  >
    <div class="col-md-12">
      <div class="card">
        <div class="header">
          <div class="materialTableHeader mt-3">
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                  <h5 style="font-size: 30px;">{{titulo}}</h5>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10">
                    <button mat-icon-button  class="btn bg-red " (click)="volver()" #tooltip="matTooltip" matTooltip="Volver">
                      <mat-icon>logout</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" >
                    <button mat-icon-button  class="btn btn-primary" (click)="guardar()"  #tooltip="matTooltip" matTooltip="Guardar">
                      <mat-icon>save</mat-icon>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <mat-dialog-content class="mat-typography m-0 p-0">

        <div class="body">
          <div class="row m-0 p-0">
            <h5 style="font-size: 20px;">Datos del Proveedor</h5>
            <div class="col-md-6 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Proveedor</mat-label>
                <input matInput placeholder="" [(ngModel)]="name">
              </mat-form-field>
            </div>
            <div class="col-md-3 m-0">
              <mat-form-field class="w-100">
                <mat-label>País</mat-label>
                <input type="text" matInput [formControl]="controlPaises" [ngClass]="colorMsgPais === 'red' ? 'error': ''" [matAutocomplete]="auto6" [(ngModel)]="paisSeleccionado" (ngModelChange)="cambioPais(paisSeleccionado)">
                <mat-hint [ngClass]="colorMsgPais === 'red' ? 'col-red': 'col-green'" ><i class="fa-solid fa-circle-exclamation" *ngIf="colorMsgPais === 'red'"></i><i class="fa-solid fa-circle-check" *ngIf="colorMsgPais === 'green'"></i>&nbsp;{{msgPais}}</mat-hint>
                <button class="btn-traduccion" matSuffix mat-icon-button (click)="limpiarSeleccionPais()">
                  <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
                </button>
                <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayPais" >
                  <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
                    <span class="fi fi-{{pais.bandera}}"></span>
                    {{pais.valor}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
            <div class="col-md-3 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Calificación</mat-label>
                <mat-select [(ngModel)]="qualification" placeholder="">
                    <mat-option [value]=""></mat-option>
                    <mat-option [value]="'Dió referencia'">Dió referencia</mat-option>
                    <mat-option [value]="'Postergó referencia'">Postergó referencia</mat-option>
                    <mat-option [value]="'No dió referencia'">No dió referencia</mat-option>
                    <mat-option [value]="'No localizada'">No localizada</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <h5 style="font-size: 20px;">Referencia</h5>
            <div class="col-md-3 m-0">
              <mat-form-field color="primary" style="width: 100%; margin: 0 .5rem 0 .5rem;">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="fecha_informe" [(ngModel)]="dateD" (dateChange)="selectFecha($event)">
                <mat-datepicker-toggle matIconSuffix [for]="fecha_informe"></mat-datepicker-toggle>
                <mat-datepicker #fecha_informe color="primary"></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="col-md-5 m-0">
            <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
              <mat-label>Teléfono(s)</mat-label>
              <input matInput placeholder="" [(ngModel)]="telephone">
            </mat-form-field>
          </div>
          <div class="col-md-4 m-0">
            <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
              <mat-label>Atendió</mat-label>
              <input matInput placeholder="" [(ngModel)]="attendedBy">
            </mat-form-field>
          </div>
          <h5 style="font-size: 20px;">Crédito Máximo Otorgado</h5>
            <div class="col-md-3 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Moneda</mat-label>
                <mat-select [(ngModel)]="idCurrency">
                  <mat-option [value]="moneda.id" *ngFor="let moneda of monedas">
                    {{moneda.valor}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Monto Máximo</mat-label>
                <input matInput placeholder="" [(ngModel)]="maximumAmount">
                <button class="btn-traduccion" matSuffix mat-icon-button [class]="maximumAmountEng === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion('Monto Máximo','', maximumAmount, maximumAmountEng,'montoMaximo')">
                  <span class="fi fi-us" style="font-size: 24px;"></span>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-3 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Plazos</mat-label>
                <input matInput placeholder="" [(ngModel)]="timeLimit">
                <button class="btn-traduccion" matSuffix mat-icon-button [class]="timeLimitEng === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion('Plazos','', timeLimit, timeLimitEng,'plazos')">
                  <span class="fi fi-us" style="font-size: 24px;"></span>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-3 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Cumplimiento</mat-label>
                <mat-select [(ngModel)]="compliance" (ngModelChange)="cambiarCumplimiento(compliance)">
                  <mat-option [value]="''"></mat-option>
                  <mat-option [value]="'Lento Eventual'">Lento Eventual</mat-option>
                  <mat-option [value]="'Lento Siempre'">Lento Siempre</mat-option>
                  <mat-option [value]="'Moroso'">Moroso</mat-option>
                  <mat-option [value]="'Puntual'">Puntual</mat-option>
                  <mat-option [value]="'Sin Experiencia'">Sin Experiencia</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Cliente desde</mat-label>
                <input matInput placeholder="" [(ngModel)]="clientSince">
                <button class="btn-traduccion" matSuffix mat-icon-button [class]="clientSinceEng === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion('Cliente Desde','', clientSince, clientSinceEng,'clienteDesde')">
                  <span class="fi fi-us" style="font-size: 24px;"></span>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-4 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Artículos (¿Que le venden?)</mat-label>
                <input matInput placeholder="" [(ngModel)]="productsTheySell">
                <button class="btn-traduccion" matSuffix mat-icon-button [class]="productsTheySellEng === '' ? 'sin-traduccion' : ''" (click)="agregarTraduccion('Articulos','', productsTheySell, productsTheySellEng,'articulos')">
                  <span class="fi fi-us" style="font-size: 24px;"></span>
                </button>
              </mat-form-field>
            </div>
            <h5 style="font-size: 20px;">Comentarios</h5>
            <div class="col-md-12 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Comentario Adicional del Proveedor o del Referencista</mat-label>
                <textarea matInput placeholder="" [(ngModel)]="additionalCommentary" style="min-height: 5rem;"></textarea>
                <button class="btn-traduccion" matSuffix mat-icon-button [class]="additionalCommentaryEng === '' ? 'sin-traduccion' : ''" (click)="agregarComentario('Comentario Adicional del Proveedor o Referencista','', additionalCommentary, additionalCommentaryEng,'comentarioAdicional')">
                  <span class="fi fi-us" style="font-size: 24px;"></span>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-12 m-0">
              <mat-form-field class="w-100" style="margin: 0 .5rem 0 .5rem;">
                <mat-label>Comentario del Referencista (No se imprime)</mat-label>
                <textarea matInput placeholder="" [(ngModel)]="referentCommentary" style="min-height: 5rem;"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      </div>
    </div>
  </div>
</div>
