<section class="content">
  <div class="container-fluid" style="width: 100%; margin: 0; padding: 0;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [subtitle]="breadscrum.subtitle" [codigoInforme]="codigoInforme+''" [usuario]="breadscrum.usuario" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>

    <div class="" style="width:100%;">
      <mat-tab-group [preserveContent]="true">
        <mat-tab >
          <ng-template mat-tab-label >
            <i id="tab-datos-empresa" class="fa-solid fa-building-wheat" style="font-size: 20px;"  [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Empresa"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Empresa</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-datos-empresa></app-datos-empresa>
          </ng-template>
        </mat-tab>
        <mat-tab [ngClass]="{'tab-completo': false}" [disabled]="" >
          <ng-template mat-tab-label>
            <i id="tab-antecedentes" class="fa-solid fa-clock-rotate-left " style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Antecedentes"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Antecedentes</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-antecedentes></app-antecedentes>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-ramo-negocio" class="fa-solid fa-code-branch" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Ramo de Negocio"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Ramo</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-ramo></app-ramo>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-finanzas" class="fa-solid fa-coins" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Finanzas"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Finanzas</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-finanzas></app-finanzas>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-balance" class="fa-solid fa-scale-balanced" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Balance General"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Balance</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-balance></app-balance>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-sbs-riesgo" class="fa-solid fa-gauge-high" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="SBS / C. Riesgo"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>SBS / C. Riesgo</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-sbs-riesgo></app-sbs-riesgo>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-opinion-credito" class="fa-solid fa-comment-dollar" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Opinión de Crédito"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Opinión de Crédito</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-opinion-credito></app-opinion-credito>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <i id="tab-info-general" class="fa-solid fa-circle-info" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Información General"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Info. General</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-informacion-general></app-informacion-general>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label >
            <i id="tab-imagenes" class="fa-regular fa-image" style="font-size: 20px;" [ngClass]="{'tab-vacio': true}" #tooltip="matTooltip" matTooltip="Imágenes"></i>
            <div class="d-md-block d-none" style="font-size: 18px;">&nbsp;<b>Imágenes</b></div>
          </ng-template>
          <ng-template matTabContent>
            <app-imagenes></app-imagenes>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
