<div mat-dialog-content class="row" style="min-width: 50rem; min-height: 35rem; overflow-y: auto; overflow-x: none;">
  <div class="col-md-12" style="background-color: #dae1f3;">
    <div class="d-flex justify-content-between">
      <h4 class="p-2">{{titulo}}</h4>
      <div>
        <button mat-mini-fab class="bg-cyan" (click)="guardar()" matTooltip="Agregar" >
          <mat-icon class="col-white">save</mat-icon>
        </button>
        <button mat-mini-fab color="warn" (click)="salir()" matTooltip="Cerrar" >
          <mat-icon class="col-white">logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row">
      <h5 class="mt-2">Datos del Accionista</h5>
      <hr>
      <div class="col-md-2">
        <mat-form-field color="primary" style="width: 100%;" >
          <mat-label >Informe Investigado el</mat-label>
          <input matInput [matDatepicker]="fecha__investigado_informe" #fechaInput [(ngModel)]="lastSearchedD" [readonly]="true" (dateChange)="selectFechaInforme($event)">
          <mat-datepicker-toggle matIconSuffix [for]="fecha__investigado_informe"></mat-datepicker-toggle>
          <mat-datepicker #fecha__investigado_informe color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3 d-flex justify-content-center">
        <mat-form-field style="width: 100%;">
          <mat-label>Idioma</mat-label>
          <mat-select [(ngModel)]="language" (selectionChange)="selectIdioma($event.value)">
            <mat-option [value]="'E'">
              <span class="fi fi-es"></span>
              ESPAÑOL
            </mat-option>
            <mat-option [value]="'I'">
              <span class="fi fi-us"></span>
              INGLÉS
            </mat-option>
            <mat-option [value]="'A'">
              <span class="fi fi-us" style="background-image: url(./../../../../../../assets/images/us-es.png);"></span>
              ESPAÑOL - INGLÉS
            </mat-option>
          </mat-select>
          <button class="btn-traduccion" matSuffix mat-icon-button>
            <span class="fi fi-es" *ngIf="language === 'E'"></span>
            <span class="fi fi-us" *ngIf="language  === 'I'"></span>
            <span class="fi fi-us" style="background-image: url(./../../../../../../assets/images/us-es.png);" *ngIf="language === 'A'"></span>
          </button>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field style="width: 100%;">
          <mat-label>Tipo de Institución</mat-label>
          <mat-select [(ngModel)]="typeRegister" (selectionChange)="selectInstitucionInforme($event.value)" >
            <mat-option [value]="'NN'"></mat-option>
            <mat-option [value]="'PJ'">
              PERSONA JURÍDICA
            </mat-option>
            <mat-option [value]="'PN'">
              PERSONA N. CON NEGOCIO
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field color="primary" style="width: 100%;">
          <mat-label>Fecha Establecida</mat-label>
          <input matInput [matDatepicker]="fecha_constitucion" #fechaInput [ngModel]="constitutionDateD" [readonly]="true" (dateChange)="selectFechaConstitucion($event)">
          <mat-datepicker-toggle matIconSuffix [for]="fecha_constitucion"></mat-datepicker-toggle>
          <mat-datepicker #fecha_constitucion color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-2 d-flex justify-content-center">
        <button mat-mini-fab class="bg-cyan" (click)="seleccionarEmpresa()" matTooltip="Buscar" style="margin: 0 .5rem 0 .5rem" >
          <mat-icon class="col-white">search</mat-icon>
        </button>
        <button mat-mini-fab class="bg-red" (click)="borrarSeleccion()" matTooltip="Limpiar Selección" style="margin: 0 .5rem 0 .5rem">
          <mat-icon class="col-white">close</mat-icon>
        </button>
      </div>
      <div class="col-md-7">
        <mat-form-field class="w-100">
          <mat-label>Razón Social</mat-label>
          <input matInput placeholder="" [(ngModel)]="name">
        </mat-form-field>
      </div>
      <div class="col-md-5">
        <mat-form-field class="w-100">
          <mat-label>Nombre Comercial / Sigla</mat-label>
          <input matInput placeholder="" [(ngModel)]="socialName">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="" style="width: 40%;">
          <mat-label>Registro Tributario (Tipo)</mat-label>
          <input matInput placeholder="" [(ngModel)]="taxTypeName">
        </mat-form-field>
        <mat-form-field class="" style="width: 60%;">
          <mat-label>Registro Tributario (Código)</mat-label>
          <input matInput placeholder="" [(ngModel)]="taxTypeCode">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>Situación RUC</mat-label>
          <input type="text" matInput [formControl]="controlSituacionRUC"  [matAutocomplete]="auto2" [(ngModel)]="situacionRucInforme" (ngModelChange)="cambioSituacionRuc(situacionRucInforme)">
          <mat-hint [ngClass]="idLegalRegisterSituation === 0 || idLegalRegisterSituation === null ? 'col-red': 'col-green'" ><i class="fa-solid fa-circle-exclamation" *ngIf="idLegalRegisterSituation === 0 || idLegalRegisterSituation === null"></i><i class="fa-solid fa-circle-check" *ngIf="idLegalRegisterSituation > 0"></i>&nbsp;{{msgSituacionRuc}}</mat-hint>
          <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" (click)="limpiarSeleccionSituacionRUC()" #tooltip="matTooltip" matTooltip="Limpiar">
            <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
          </button>
          <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displaySituacionRuc">
            <mat-option *ngFor="let situacionRUC of filterSituacionRuc | async" [value]="situacionRUC">
              {{situacionRUC.valor}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>País</mat-label>
          <input type="text" matInput [formControl]="controlPaises"  [matAutocomplete]="auto6" [(ngModel)]="paisSeleccionado" (ngModelChange)="cambioPais(paisSeleccionado)">
          <mat-hint [ngClass]="colorMsgPais === 'red' ? 'col-red': 'col-green'" ><i class="fa-solid fa-circle-exclamation" *ngIf="colorMsgPais === 'red'"></i><i class="fa-solid fa-circle-check" *ngIf="colorMsgPais === 'green'"></i>&nbsp;{{msgPais}}</mat-hint>
          <button class="btn-traduccion" matSuffix mat-icon-button (click)="limpiarSeleccionPais()">
            <span class="fi fi-{{iconoSeleccionado}}" style="font-size: 20px;"></span>
          </button>
          <mat-autocomplete #auto6="matAutocomplete" [displayWith]="displayPais" >
            <mat-option *ngFor="let pais of filterPais | async" [value]="pais">
              <span class="fi fi-{{pais.bandera}}"></span>
              {{pais.valor}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field class="w-100">
          <mat-label>Dpto. o Estado</mat-label>
          <input matInput placeholder  [(ngModel)]="place">
        </mat-form-field>
      </div>
      <div class="col-md-9">
        <mat-form-field class="w-100">
          <mat-label>Dirección Completa</mat-label>
          <input matInput placeholder="" [(ngModel)]="address" >
          <mat-hint>Av., N° de Barrio, Urb., Fracc., Colonia, Dist., Prov.</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>Cód. Postal</mat-label>
          <input matInput placeholder="" [(ngModel)]="postalCode">
        </mat-form-field>
      </div>
      <h5 class="mt-2">Datos de la Participación</h5>
      <hr>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>Participación (%)</mat-label>
          <input matInput placeholder="" [(ngModel)]="participation" type="number">
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field class="w-100">
          <mat-label>Tipo de Relación</mat-label>
          <mat-select [(ngModel)]="relation" (ngModelChange)="relationIngles(relation)">
              <mat-option [value]="''"></mat-option>
              <mat-option [value]="'Accionista Mayoritario'">Accionista Mayoritario</mat-option>
              <mat-option [value]="'Accionista Minoritario'">Accionista Minoritario</mat-option>
              <mat-option [value]="'Accionistas'">Accionistas</mat-option>
              <mat-option [value]="'Socio'">Socio</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field color="primary" style="width: 100%;" >
          <mat-label >Desde</mat-label>
          <input matInput [matDatepicker]="fecha_desde" #fechaInput [(ngModel)]="startDateD" [readonly]="true" (dateChange)="selectFechaInicio($event)">
          <mat-datepicker-toggle matIconSuffix [for]="fecha_desde"></mat-datepicker-toggle>
          <mat-datepicker #fecha_desde color="primary"></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
