<section class="content">
  <div id="loader-lista-cupon" class="d-flex justify-content-center align-items-center loader-container" [ngClass]="{'hide-loader': !loading}">
    <span class="loader"></span><br>
    <h2 style="color: white;">&nbsp;Cargando...</h2>
  </div>
  <div class="container-fluid" style="overflow: auto; width: 100%;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [codigoInforme]="''" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card shadow" style="border-radius: 0; background-color: #dae1f3;">
          <div class="row m-0 p-0">
            <div class="col-md-2 m-0 p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Cupón</mat-label>
                <input matInput [(ngModel)]="buscarCupon" >
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="buscarCupon !== ''" (click)="buscarCupon = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-2 m-0 p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Informe</mat-label>
                <input matInput [(ngModel)]="buscarInforme" >
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="buscarInforme !== ''" (click)="buscarInforme = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-2 m-0 p-0">
              <mat-form-field class="w-100" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Código de Abonado</mat-label>
                <input matInput [(ngModel)]="buscarAbonado" >
                <button matSuffix mat-icon-button color="primary" style="background-color: rgba(0,0,0,0);" *ngIf="buscarAbonado !== ''" (click)="buscarAbonado = ''" #tooltip="matTooltip" matTooltip="Limpiar">
                  <i class="fa-solid fa-xmark" style="color: black; font-size: 20px;"></i>
                </button>
              </mat-form-field>
            </div>
            <div class="col-md-3 m-0 p-0">
              <mat-form-field class="w-50" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Tipo de Informe</mat-label>
                <mat-select [(ngModel)]="tipoInforme">
                    <mat-option [value]="''"></mat-option>
                    <mat-option [value]="'RV'">RV</mat-option>
                    <mat-option [value]="'OR'">OR</mat-option>
                    <mat-option [value]="'EF'">EF</mat-option>
                    <mat-option [value]="'DF'">DF</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="w-50" style="padding-top: 1rem; padding-left: 1rem;" >
                <mat-label>Tipo de Trámite</mat-label>
                <mat-select [(ngModel)]="tipoTramite">
                  <mat-option [value]="''"></mat-option>
                  <mat-option [value]="'T1'">T1</mat-option>
                  <mat-option [value]="'T2'">T2</mat-option>
                  <mat-option [value]="'T3'">T3</mat-option>
                  <mat-option [value]="'T3'">BC</mat-option>
              </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 d-flex align-items-center justify-content-center">
              <div class="" matTooltip="BUSCAR" style="margin: 0 .3rem 0 .3rem">
                <button mat-mini-fab color="primary" (click)="buscar()">
                  <mat-icon class="col-white">search</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="NUEVO" style="margin: 0 .3rem 0 .3rem">
                <button mat-mini-fab color="primary" (click)="addOrder()">
                  <mat-icon class="col-white">add</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="LIMPIAR" style="margin: 0 .3rem 0 .3rem">
                <button mat-mini-fab class="bg-red" (click)="refresh()">
                  <mat-icon class="col-white">cleaning_services</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="ASIGNAR" style="margin: 0 .3rem 0 .3rem">
                <button mat-mini-fab color="primary" (click)="assignOrder()">
                  <mat-icon class="col-white">assignment</mat-icon>
                </button>
              </div>
              <div class="" matTooltip="EXPORTAR" style="margin: 0 .3rem 0 .3rem">
                <button mat-mini-fab class="bg-green">
                  <i class="fa-solid fa-file-excel" style="font-size: 24px;"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="number" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Cupón </th>
          <td mat-cell *matCellDef="let order" class="text-center"> {{order.number}} </td>
          </ng-container>
          <ng-container matColumnDef="busineesName" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Nombre de Informe</th>
          <td mat-cell *matCellDef="let order" class="text-left" style="min-width: 14rem;"> {{order.busineesName}} </td>
          </ng-container>
          <ng-container matColumnDef="subscriberCode" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Abonado </th>
          <td mat-cell *matCellDef="let order" class="text-left" > {{order.subscriberCode}} </td>
          </ng-container>
          <ng-container matColumnDef="status" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header class=""> Estado</th>
          <td mat-cell *matCellDef="let order" class="text-center">
              <span class="float-end progress-percent label {{order.statusColor}}  shadow" style="width: 150px;{{order.statusColor === 'label' ? 'color : black;' : ''}}" >
                {{order.status}}
              </span>

          </td>
          </ng-container>
          <ng-container matColumnDef="reportType" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Tipo de Informe</th>
            <td mat-cell *matCellDef="let order" class="text-center">
              <div *ngIf="order.reportType === 'OR'">
                <div class="badge badge-solid-orange" style="font-size: 16px;">OR</div>
              </div>
              <div *ngIf="order.reportType === 'RV'">
                <div class="badge badge-solid-green" style="font-size: 16px;">RV</div>
              </div>
              <div *ngIf="order.reportType === 'EF'">
                <div class="badge badge-solid-cyan" style="font-size: 16px;">EF</div>
              </div>
              <div *ngIf="order.reportType === 'DF'">
                <div class="badge badge-solid-blue" style="font-size: 16px;">DF</div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="procedureType" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Tipo de Trámite</th>
            <td mat-cell *matCellDef="let order" class="text-center">
              <div *ngIf="order.procedureType === 'T1'">
                <div class="badge badge-solid-blue">T1</div>
              </div>
              <div *ngIf="order.procedureType === 'T2'">
                <div class="badge badge-solid-purple">T2</div>
              </div>
              <div *ngIf="order.procedureType === 'T3'">
                <div class="badge badge-solid-cyan">T3</div>
              </div>
              <div *ngIf="order.procedureType === 'BC'">
                <div class="badge badge-solid-brown">BC</div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="quality" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Calidad</th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.quality}} </td>
          </ng-container>
          <ng-container matColumnDef="orderDate" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Fecha de Ingreso </th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.orderDate}} </td>
          </ng-container>
          <ng-container matColumnDef="expireDate" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Fecha de Vencimiento </th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.expireDate}} </td>
          </ng-container>
          <ng-container matColumnDef="dispatchDate" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Fecha de Descarga </th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.dispatchDate}} </td>
          </ng-container>
          <ng-container matColumnDef="Acciones" >
            <th mat-header-cell *matHeaderCellDef  class="text-center" style="width: 10rem;"> Acciones </th>
            <td mat-cell *matCellDef="let order" class="text-center" style="min-width: 12rem;">
              <button mat-icon-button (click)="$event.stopPropagation()" (click)="editOrder(order.id)" class="tbl-action-btn " matTooltip="Editar">
                <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
              </button>
              <button  mat-icon-button class="tbl-action-btn" matTooltip="Consultar" (click)=" $event.stopPropagation(); consultar(order)">
                <app-feather-icons [icon]="'help-circle'" [ngStyle]="{'color':getColor(order.hasQuery,order.statusQuery)}" ></app-feather-icons>
              </button>
              <button mat-icon-button class="tbl-action-btn" matTooltip="Eliminar" (click)="$event.stopPropagation(); deleteOrder(order.id);">
                <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let order">
            <button mat-icon-button aria-label="expand row" (click)="(expandedOrder = expandedOrder === order ? null : order); $event.stopPropagation(); ">
              <mat-icon *ngIf="expandedOrder !== order">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedOrder === order">keyboard_arrow_up</mat-icon>
            </button>
          </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let order;" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail"
                  [@detailExpand]="order === expandedOrder ? 'expanded' : 'collapsed'">
                <div class="card shadow m-4 w-100">
                  <div class="card-header " style="background-color: rgb(180, 204, 252);">
                    <h5>Datos del Abonado</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <label><b>Abonado: </b>{{ order.subscriberCode }} - {{ order.subscriberName }}</label><br>
                        <label><b>País: </b>{{ order.subscriberCountry }} <span class="fi fi-{{order.subscriberFlag}}"></span></label><br>
                        <label><b>Crédito Consultado:</b>  {{order.queryCredit}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Revelar Nombre:</b><span *ngIf="order.revealName === true"> SI</span><span *ngIf="order.revealName === false"> NO</span></label><br>
                        <label><b>Nro. de Referencia: </b> {{order.referenceNumber}}</label>
                      </div>
                      <div class="col-md-4">
                        <label><b>Indicaciones del Abonado: </b> {{order.subscriberIndications}}</label><br>
                        <label><b>Datos Adicionales: </b> {{order.aditionalData}}</label>
                      </div>
                    </div>
                    <br>
                  </div>
                  <div class="card-header " style="background-color: rgb(180, 204, 252);">
                    <h5>Datos de la Empresa</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <label><b>Nombre Real de la Empresa: </b>  {{order.busineesName}}</label><br>
                        <label><b>Nombre Solicitado de la Empresa: </b>  {{order.requestedName}}</label><br>
                        <label><b>Registro Tributario: </b>  {{order.taxType}} - {{order.taxCode}}</label>
                      </div>
                      <div class="col-md-4">
                        <label><b>Continente: </b>  {{order.investigatedContinent}}</label><br>
                        <label><b>País: </b>  {{order.investigatedCountry}} <span class="fi fi-{{order.investigatedFlag}}"></span></label><br>
                        <label><b>Ciudad: </b>  {{order.city}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Dirección: </b>  {{order.address}}</label><br>
                        <label><b>Correo: </b> {{order.email}}</label><br>
                        <label><b>Telefono: </b>  {{order.telephone}}</label><br>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="card-header " style="background-color: rgb(180, 204, 252);">
                    <h5>Datos del Informe</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <label><b>Tipo de Trámite: </b>  {{order.procedureType}}</label><br>
                        <label><b>Fecha de Ingreso: </b>  {{order.orderDate}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Tipo de Informe: </b> {{order.reportType}}</label><br>
                        <label><b>Fecha de Vencimiento: </b> {{order.expireDate}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Precio de Informe: </b>  {{order.precioInforme}}</label><br>
                        <label><b>Fecha de Vencimiento Real: </b>  {{order.realExpireDate}}</label><br>
                      </div>
                      <br>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let order; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedOrder === order"
            (click)="expandedOrder = expandedOrder === order ? null : order">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25]" aria-label="Seleccionar página de Pedidos"></mat-paginator>
      </div>
    </div>



  </div>
</section>
