<section class="content">
  <div class="container-fluid" style="overflow: auto; width: 100%;">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [codigoInforme]="''" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card shadow">
          <div class="materialTableHeader" >
            <div class="left">
              <ul class="header-buttons-left ms-0">
                <li class="tbl-title">
                </li>
                <li class="tbl-search-box d-flex">
                  <label for="search-input"><i class="material-icons search-icon">local_activity</i></label>
                  <input placeholder="Cupón" type="text" class="browser-default search-field" [(ngModel)]="buscarCupon" (ngModelChange)="aplicarFiltro()" aria-label="Buscar por Cupón" style="margin: 0 .5rem 0 .5rem;">
                  <label for="search-input"><i class="material-icons search-icon">description</i></label>
                  <input placeholder="Nombre de Informe" type="text" class="browser-default search-field" [(ngModel)]="buscarInforme" (ngModelChange)="aplicarFiltro()" aria-label="Buscar por Nombre Informe" style="margin: 0 .5rem 0 .5rem;">
                  <label for="search-input"><i class="material-icons search-icon">pin</i></label>
                  <input placeholder="Código de Abonado" type="text" class="browser-default search-field" [(ngModel)]="buscarAbonado" (ngModelChange)="aplicarFiltro()" aria-label="Buscar por Código de Abonado " style="margin: 0 .5rem 0 .5rem;">

                  <div style="margin: 0 0 0 2rem;">Tipo de Informe</div>
                  <select class="form-select"  [(ngModel)]="tipoInforme" (change)="aplicarFiltro()" style="margin: 0 1rem 0 .5rem;" aria-label="Tipo de Informe">
                    <option selected [value]="''"></option>
                    <option [value]="'RV'">RV</option>
                    <option [value]="'OR'" >OR</option>
                  </select>

                  <div style="margin: 0 0 0 1rem;">Tipo de Trámite</div>
                  <select class="form-select " [(ngModel)]="tipoTramite" (change)="aplicarFiltro()" style="margin: 0 1rem 0 .5rem;" aria-label="Tipo de Tramite">
                    <option [value]="''" selected></option>
                    <option [value]="'T1'">T1</option>
                    <option [value]="'T2'">T2</option>
                    <option [value]="'T3'">T3</option>
                  </select>
                </li>
              </ul>
            </div>
            <div class="right">
              <ul class="tbl-export-btn">
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="NUEVO PEDIDO">
                    <button mat-mini-fab color="primary" (click)="addOrder()">
                      <mat-icon class="col-white">add</mat-icon>
                    </button>
                  </div>
                </li>
                <li class="tbl-header-btn">
                  <div class="m-l-10" matTooltip="RECARGAR LISTA">
                    <button mat-mini-fab color="primary" (click)="refresh()">
                      <mat-icon class="col-white">refresh</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="m-l-10" matTooltip="ASIGNAR PEDIDO">
                    <button mat-mini-fab color="primary" (click)="assignOrder()">
                      <mat-icon class="col-white">assignment</mat-icon>
                    </button>
                  </div>
                </li>
                <li>
                  <div class="m-l-10" matTooltip="EXPORTAR EN EXCEL">
                    <button mat-mini-fab color="primary">
                      <i class="fa-solid fa-file-excel" style="font-size: 24px;"></i>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12" style="overflow-x: auto;">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="cupon" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Cupón </th>
          <td mat-cell *matCellDef="let order" class="text-center"> {{order.cupon}} </td>
          </ng-container>
          <ng-container matColumnDef="informe" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Nombre de Informe</th>
          <td mat-cell *matCellDef="let order" class="text-left" style="min-width: 14rem;"> {{order.nombreRealEmpresa}} </td>
          </ng-container>
          <ng-container matColumnDef="abonado" >
          <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Abonado </th>
          <td mat-cell *matCellDef="let order" class="text-left" > {{order.codigo}} </td>
          </ng-container>
          <ng-container matColumnDef="estado" >
          <th mat-header-cell *matHeaderCellDef class="text-center"> Estado</th>
          <td mat-cell *matCellDef="let order" class="text-center">
            <div *ngIf="order.estadoPedido==='PEND. VENCIDO'" >
              <span class="float-end progress-percent label label-danger shadow" style="width: 150px;">
                {{order.estadoPedido}}
              </span>
            </div>
            <div *ngIf="order.estadoPedido==='PENDIENTE'" >
              <span class="float-end progress-percent label label-info m-b-5 shadow" style="width: 150px;">
                {{order.estadoPedido}}
              </span>
            </div>
            <div *ngIf="order.estadoPedido==='ENVIADO'" >
              <span class="float-end progress-percent label label-success m-b-5 shadow" style="width: 150px;">
                {{order.estadoPedido}}
              </span>
            </div>
            <div *ngIf="order.estadoPedido==='ENV. VENCIDO'" >
              <span class="float-end progress-percent label label-warning m-b-5 shadow" style="width: 150px;">
                {{order.estadoPedido}}
              </span>
            </div>
          </td>
          </ng-container>
          <ng-container matColumnDef="tipoInforme" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Tipo de Informe</th>
            <td mat-cell *matCellDef="let order" class="text-center">
              <div *ngIf="order.tipoInforme === 'OR'">
                <div class="badge badge-solid-orange" style="font-size: 16px;">OR</div>
              </div>
              <div *ngIf="order.tipoInforme === 'RV'">
                <div class="badge badge-solid-green" style="font-size: 16px;">RV</div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="tipoTramite" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Tipo de Trámite</th>
            <td mat-cell *matCellDef="let order" class="text-center">
              <div *ngIf="order.tipoTramite === 'T1'">
                <div class="badge badge-solid-blue">T1</div>
              </div>
              <div *ngIf="order.tipoTramite === 'T2'">
                <div class="badge badge-solid-purple">T2</div>
              </div>
              <div *ngIf="order.tipoTramite === 'T3'">
                <div class="badge badge-solid-cyan">T3</div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="calidad" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Calidad</th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.calidad}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaIngreso" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Fecha de Ingreso </th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.fechaIngreso}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaVencimiento" >
            <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-center"> Fecha de Vencimiento </th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.fechaVencimiento}} </td>
          </ng-container>
          <ng-container matColumnDef="fechaDescarga" >
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> Fecha de Descarga </th>
            <td mat-cell *matCellDef="let order" class="text-center"> {{order.fechaDescarga}} </td>
          </ng-container>
          <ng-container matColumnDef="Acciones" >
            <th mat-header-cell *matHeaderCellDef  class="text-center" style="width: 10rem;"> Acciones </th>
            <td mat-cell *matCellDef="let order" class="text-center" style="min-width: 8rem;">
              <button mat-icon-button (click)="$event.stopPropagation()" (click)="editOrder(order.cupon)" class="tbl-action-btn " matTooltip="Editar">
                <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
              </button>
              <button mat-icon-button class="tbl-action-btn" matTooltip="Eliminar">
                <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let order">
            <button mat-icon-button aria-label="expand row" (click)="(expandedOrder = expandedOrder === order ? null : order); $event.stopPropagation(); ">
              <mat-icon *ngIf="expandedOrder !== order">keyboard_arrow_down</mat-icon>
              <mat-icon *ngIf="expandedOrder === order">keyboard_arrow_up</mat-icon>
            </button>
          </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let order;" [attr.colspan]="columnsToDisplayWithExpand.length">
              <div class="example-element-detail"
                  [@detailExpand]="order === expandedOrder ? 'expanded' : 'collapsed'">
                <div class="card shadow m-4 w-100">
                  <div class="card-header " style="background-color: rgb(180, 204, 252);">
                    <h5>Datos del Abonado</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <label><b>Abonado: </b>{{ order.codigo }} - {{ order.nombre }}</label><br>
                        <label><b>País: </b>{{ order.pais.valor }} <span class="fi fi-{{order.pais.bandera}}"></span></label><br>
                        <label><b>Crédito Consultado:</b>  {{order.creditoConsultado}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Revelar Nombre:</b><span *ngIf="order.revelarNombre === true"> SI</span><span *ngIf="order.revelarNombre === false"> NO</span></label><br>
                        <label><b>Nro. de Referencia: </b> {{order.nroReferencia}}</label>
                      </div>
                      <div class="col-md-4">
                        <label><b>Indicaciones del Abonado: </b> {{order.indicaciones}}</label>
                        <label><b>Datos Adicionales: </b> {{order.dtsAdicionales}}</label>
                      </div>
                    </div>
                    <br>
                  </div>
                  <div class="card-header " style="background-color: rgb(180, 204, 252);">
                    <h5>Datos de la Empresa</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <label><b>Nombre Real de la Empresa: </b>  {{order.nombreRealEmpresa}}</label><br>
                        <label><b>Nombre Solicitado de la Empresa: </b>  {{order.nombreSolicitadoEmpresa}}</label><br>
                        <label><b>Registro Tributario: </b>  {{order.tipoRT}} - {{order.codigoRT}}</label>
                      </div>
                      <div class="col-md-4">
                        <label><b>Continente: </b>  {{order.continenteEmpresa}}</label><br>
                        <label><b>País: </b>  {{order.paisEmpresa.valor}} <span class="fi fi-{{order.paisEmpresa.bandera}}"></span></label><br>
                        <label><b>Ciudad: </b>  {{order.ciudadEmpresa}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Dirección: </b>  {{order.direccionEmpresa}}</label><br>
                        <label><b>Correo: </b> {{order.correoEmpresa}}</label><br>
                        <label><b>Telefono: </b>  {{order.telefonoEmpresa}}</label><br>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div class="card-header " style="background-color: rgb(180, 204, 252);">
                    <h5>Datos del Informe</h5>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-4">
                        <label><b>Tipo de Trámite: </b>  {{order.tipoTramite}}</label><br>
                        <label><b>Fecha de Ingreso: </b>  {{order.fechaIngreso}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Tipo de Informe: </b> {{order.tipoInforme}}</label><br>
                        <label><b>Fecha de Vencimiento: </b> {{order.fechaVencimiento}}</label><br>
                      </div>
                      <div class="col-md-4">
                        <label><b>Precio de Informe: </b>  {{order.precioInforme}}</label><br>
                        <label><b>Fecha de Vencimiento Real: </b>  {{order.fechaVencimientoReal}}</label><br>
                      </div>
                      <br>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr mat-row *matRowDef="let order; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedOrder === order"
            (click)="expandedOrder = expandedOrder === order ? null : order">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 25]" aria-label="Seleccionar página de Pedidos"></mat-paginator>
      </div>
    </div>



  </div>
</section>
